---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe?channel_group=foo:&pnsdk=PubNub-Ruby/3.7.0beta0&signature=sig&timestamp=1234567890&uuid=c89b3ad8-1a7a-415f-b3ea-1b26eea22507
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"service":"Access Manager","message":"Success","payload":{"objects":{},"level":"subkey","m":1,"channels":{"whatever-pnpres":{"r":1,"w":1},"demo":{"auths":{"dupa":{"r":1,"w":1}}}},"r":1,"w":1,"ttl":1411,"channel-groups":{},"subscribe_key":"sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe"}}'
  recorded_at: Wed, 05 Nov 2014 12:49:29 GMT
recorded_with: VCR 2.9.2
