---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/demo/channel-group/cg?pnsdk=PubNub-Ruby/3.7.0beta0&uuid=05b1b237-954e-4d0f-bf8b-81a89bf1e861
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "payload": {"channels": ["ping_3", "x", "z"], "group":
        "cg"}, "service": "channel-registry", "error": false}'
  recorded_at: Tue, 04 Nov 2014 13:19:55 GMT
recorded_with: VCR 2.9.2
