---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/demo/namespace/foo/channel-group/foo/remove?pnsdk=PubNub-Ruby/3.7.0beta0&uuid=908068fb-7415-44df-8dab-805db02eebad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
        false}'
  recorded_at: Tue, 04 Nov 2014 15:46:27 GMT
recorded_with: VCR 2.9.2
