---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?channel=demo&pnsdk=PubNub-Ruby/4.1.0&r=0&signature=KKsmQLxGAjdG2D9d_rwdU82P6ZEKPNWWuU2a-LoVeN4=&timestamp=1464192330&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-a-mock-key","ttl":1440,"channels":{"demo":{"r":0,"w":1,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 16:05:31 GMT
recorded_with: VCR 3.0.1
