---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-a-mock-key?channel-group=demo&m=0&pnsdk=PubNub-Ruby/4.1.0beta1&r=0&signature=Mk0fK3xjhO_GMZ73TFpwfAWxoucJnJL0tEdgLsh_kgI=&timestamp=1465314475&ttl=1440&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-a-mock-key","ttl":1,"channel-groups":{"demo":{"r":0,"w":0,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Tue, 07 Jun 2016 15:47:56 GMT
recorded_with: VCR 3.0.1
