---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?channel-group=demo&m=1&pnsdk=PubNub-Ruby/4.0.0beta1&r=0&signature=XEjSf8zAyQ26jajuO0YapdtRMmY8-z4ouiwvrnWoYuc=&timestamp=1465314363&ttl=0&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":0,"channel-groups":{"demo":{"r":0,"w":0,"m":1}}},"service":"Access
        Manager","status":200}'
  recorded_at: Tue, 07 Jun 2016 15:46:03 GMT
recorded_with: VCR 3.0.1
