---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?auth=ruby-authkey&channel-group=demo&m=0&pnsdk=PubNub-Ruby/4.1.0&r=0&signature=z4SXopm-veJDzou1pB3ushkWk8uTwHTW1wOGjIbmv4E=&timestamp=1464193469&ttl=300&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group+auth","subscribe_key":"sub-a-mock-key","ttl":1,"channel-groups":"demo","auths":{"ruby-authkey":{"r":0,"w":0,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 16:24:29 GMT
recorded_with: VCR 3.0.1
