---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?channel-group=demo&m=0&pnsdk=PubNub-Ruby/4.0.0beta1&r=0&signature=uQ5zQLz7-0sAuCTdEs7x_tgAW_A90Nu61iwtHG0lseA=&timestamp=1465314274&ttl=300&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":1,"channel-groups":{"demo":{"r":0,"w":0,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Tue, 07 Jun 2016 15:44:34 GMT
recorded_with: VCR 3.0.1
