---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?auth=ruby-authkey&pnsdk=PubNub-Ruby/4.1.0&r=0&signature=MXxUgvwLSyvl3VtI998cGplasyXDFl5eNXUf5m3kXMw=&timestamp=1464194241&ttl=0&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Auth-only grants are reserved for future use","error":true,"service":"Access
        Manager","status":400}

'
  recorded_at: Wed, 25 May 2016 16:37:22 GMT
recorded_with: VCR 3.0.1
