---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-a-mock-key?channel=demo&pnsdk=PubNub-Ruby/4.1.0&r=0&signature=EAujIImZy2FVVFxm4Gk__xIafskq0198D8FB06Ij4Co=&timestamp=1464193190&ttl=300&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-a-mock-key","ttl":1,"channels":{"demo":{"r":0,"w":0,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 16:19:50 GMT
recorded_with: VCR 3.0.1
