---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?channel-group=demo&m=0&pnsdk=PubNub-Ruby/4.0.0beta1&r=0&signature=nqCvquGkQP7bjdsNz47OG9AcMKg42O4U0ikJLu9YsNc=&timestamp=1465314478&ttl=300&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":300,"channel-groups":{"demo":{"r":0,"w":1,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Tue, 07 Jun 2016 15:47:59 GMT
recorded_with: VCR 3.0.1
