---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/demo/demo,demo-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=003784f2-6a80-466c-afef-be88740c9c6b
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14616747220341843","r":3},"m":[]}'
  recorded_at: Tue, 26 Apr 2016 12:46:22 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/demo/demo,demo-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214616747220341843%22%7D&uuid=003784f2-6a80-466c-afef-be88740c9c6b
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14616747835491280","r":3},"m":[{"a":"1","f":514,"p":{"t":"14616747835068536","r":2},"k":"demo","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1461674783, "uuid": "003784f2-6a80-466c-afef-be88740c9c6b",
        "occupancy": 8},"b":"demo-pnpres"}]}'
  recorded_at: Tue, 26 Apr 2016 12:46:23 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/demo/demo,demo-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214616747835491280%22%7D&uuid=003784f2-6a80-466c-afef-be88740c9c6b
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14616748122890443","r":3},"m":[{"a":"1","f":514,"i":"3efb92f6-bf02-4373-aafa-996527718ecc","p":{"t":"14616748122822829","r":12},"k":"demo","c":"demo","d":{"text":"hey"},"b":"demo"}]}'
  recorded_at: Tue, 26 Apr 2016 12:46:52 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/demo/demo,demo-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214616748227745325%22%7D&uuid=003784f2-6a80-466c-afef-be88740c9c6b
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14616748401807659","r":3},"m":[{"a":"1","f":514,"p":{"t":"14616748401042589","r":1},"k":"demo","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1461674840, "uuid": "29042fd2-c216-45dc-8d95-2f4178305d09",
        "occupancy": 8},"b":"demo-pnpres"}]}'
  recorded_at: Tue, 26 Apr 2016 12:47:20 GMT
recorded_with: VCR 3.0.1
