---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/demo/test_channel/0?pnsdk=PubNub-Ruby/4.0.0&state=%7B%22test_channel%22:%7B%22one%22:%22two%22,%22three%22:4%7D%7D&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14605515002121577","r":3},"m":[]}'
  recorded_at: Wed, 13 Apr 2016 12:45:00 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/demo/test_channel/0?pnsdk=PubNub-Ruby/4.0.0&state=%7B%22test_channel%22:%7B%22one%22:%22two%22,%22three%22:4%7D%7D&t=%7B%22r%22:3,%22t%22:%2214605515002121577%22%7D&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14605515050534917","r":3},"m":[{"a":"1","f":514,"i":"3efb92f6-bf02-4373-aafa-996527718ecc","p":{"t":"14605515050475478","r":3},"k":"demo","c":"test_channel","d":{"text":"hey"}}]}'
  recorded_at: Wed, 13 Apr 2016 12:45:05 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub_key/demo/channel/test_channel/uuid/gentest?pnsdk=PubNub-Ruby/4.0.0&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "uuid": "gentest", "service": "Presence", "message":
        "OK", "payload": {"three": 4, "one": "two"}, "channel": "test_channel"}'
  recorded_at: Wed, 13 Apr 2016 12:45:10 GMT
recorded_with: VCR 2.9.3
