---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/test_channel/uuid/gentest/data?pnsdk=PubNub-Ruby/4.0.0beta14&state=%7B%22some%22:%22other%22,%22value%22:10%7D&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"some": "other", "value":
        10}, "service": "Presence"}'
  recorded_at: Mon, 08 Feb 2016 11:15:29 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/test_channel/0/0?pnsdk=PubNub-Ruby/4.0.0beta14&state=%7B%22test_channel%22:%7B%22one%22:%22two%22,%22three%22:4%7D%7D&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"14549301289829318"]'
  recorded_at: Mon, 08 Feb 2016 11:15:29 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub_key/demo/channel/test_channel/uuid/gentest?pnsdk=PubNub-Ruby/4.0.0beta14&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "uuid": "gentest", "service": "Presence", "message":
        "OK", "payload": {"some": "other", "value": 10}, "channel": "test_channel"}'
  recorded_at: Mon, 08 Feb 2016 11:15:31 GMT
recorded_with: VCR 2.9.3
