---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/test_channel/uuid/gentest/data?pnsdk=PubNub-Ruby/4.0.0beta7&state=%7B%22one%22:%22two%22,%22three%22:4%7D&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"three": 4, "one": "two"},
        "service": "Presence"}'
  recorded_at: Thu, 29 Oct 2015 15:17:06 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/test_channel/uuid/gentest/data?pnsdk=PubNub-Ruby/4.0.0beta7&state=%7B%22some%22:%22other%22,%22value%22:10%7D&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"some": "other", "value":
        10}, "service": "Presence"}'
  recorded_at: Thu, 29 Oct 2015 15:17:06 GMT
recorded_with: VCR 2.9.3
