---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/demo/test_channel/0?pnsdk=PubNub-Ruby/4.0.0&state=%7B%22test_channel%22:%7B%22some%22:%22other%22,%22value%22:10%7D%7D&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14605507683475052","r":3},"m":[]}'
  recorded_at: Wed, 13 Apr 2016 12:32:48 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/test_channel/uuid/gentest/data?pnsdk=PubNub-Ruby/4.0.0&state=%7B%22some%22:%22other%22,%22value%22:10%7D&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"some": "other", "value":
        10}, "service": "Presence"}'
  recorded_at: Wed, 13 Apr 2016 12:32:48 GMT
recorded_with: VCR 2.9.3
