---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?channel=demo&m=1&pnsdk=PubNub-Ruby/4.0.0&r=0&signature=kR0DcINzY7M4-YxbMMgh_Tp_upBlL7pu5Ytvj6Xk-SE=&timestamp=1464188056&ttl=1440&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":1440,"channels":{"demo":{"r":0,"w":0,"m":1}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:54:16 GMT
recorded_with: VCR 3.0.1
