---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=ruby-authkey&channel=demo&m=0&pnsdk=PubNub-Ruby/4.0.0&r=0&signature=jO3Ak6Gx4zS0Jn90f4-USbDMlN-BQ30nSpV2LsNg_w4=&timestamp=1464187427&ttl=0&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":1,"channel":"demo","auths":{"ruby-authkey":{"r":0,"w":0,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:43:47 GMT
recorded_with: VCR 3.0.1
