.DS_Store
pubnub-*.gem
.ruby-version
*.iml
.idea/
log/*
*.log
examples/test.rb
coverage
dev_scripts

# GitHub Actions #
##################
.github/.release
.bundle/ruby

.travis/README.md
.travis/scripts

deployment_keys
deployment_keys-private
deployment_keys.tar

.travis/github-labels-policy.json
.travis/github-labels.json
/.rvmrc
/.bundle/
/features/*.feature
