sudo: false
language: ruby
addons:
  srcclr: true
  code_climate:
    repo_token: 48739096f72763cbed9bd407efd2ed33151ce5663fb3181455128f06d6123ef3

before_install:
  # See https://github.com/travis-ci/travis-ci/issues/5861
  - gem install bundler
  - gem update bundler

bundler_args: --without development

script: bundle exec rspec

gemfile:
  - gemfiles/celluloid_017.gemfile
  - gemfiles/celluloid_018.gemfile
  - gemfiles/celluloid_master.gemfile
  - gemfiles/concurrent-ruby-1.0.5.gem
  - gemfiles/concurrent-ruby-edge.0.3.1.gem

rvm:
  - 2.4.1
  - 2.3.4
  - 2.2.7

matrix:
  include:
    - rvm: jruby-9.1.13.0
      env: JRUBY_OPTS="--server -J-Xms1500m -J-Xmx1500m -J-XX:+UseConcMarkSweepGC -J-XX:-UseGCOverheadLimit -J-XX:+CMSClassUnloadingEnabled"
      jdk: oraclejdk8
      gemfile: gemfiles/celluloid_017.gemfile
    - rvm: jruby-9.1.13.0
      env: JRUBY_OPTS="--server -J-Xms1500m -J-Xmx1500m -J-XX:+UseConcMarkSweepGC -J-XX:-UseGCOverheadLimit -J-XX:+CMSClassUnloadingEnabled"
      jdk: oraclejdk8
      gemfile: gemfiles/celluloid_018.gemfile
    - rvm: jruby-9.1.13.0
      env: JRUBY_OPTS="--server -J-Xms1500m -J-Xmx1500m -J-XX:+UseConcMarkSweepGC -J-XX:-UseGCOverheadLimit -J-XX:+CMSClassUnloadingEnabled"
      jdk: oraclejdk8
      gemfile: gemfiles/celluloid_master.gemfile
