---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=key&pnsdk=PubNub-Ruby/4.0.0&signature=pZjPZucMs0WP_2awPTm8_ms-_Pc2OF_lwrgfvHAF0dw=&timestamp=1464186885&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","channels":{"demo":{"r":1,"m":1,"w":1,"ttl":1440,"auths":{"ruby-authkey":{"r":1,"m":1,"w":0,"ttl":286},"ADMIN-hb89skz71v":{"r":1,"m":0,"w":1,"ttl":9}}},"demo-pnpres":{"r":1,"m":1,"w":1,"auths":{"ADMIN-hb89skz71v":{"r":1,"m":0,"w":1,"ttl":9}}},"demo.*":{"r":1,"m":1,"w":1,"ttl":1440}},"objects":{},"channel-groups":{"demo":{"r":1,"m":1,"w":1,"ttl":1440,"auths":{"ruby-authkey":{"r":1,"m":1,"w":1,"ttl":136}}}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:34:47 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?channel-group=demo&pnsdk=PubNub-Ruby/4.0.0&signature=uTjOJQ70xs7G_W2rRY7dzydTiyub-Sa3RAtk6-JfoiM=&timestamp=1464186887&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","channel-groups":{"demo":{"r":1,"m":1,"w":1,"ttl":1440,"auths":{"ruby-authkey":{"r":1,"m":1,"w":1,"ttl":136}}}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:34:47 GMT
recorded_with: VCR 3.0.1
