---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-a478dd2a-c33d-11e2-883f-02ee2ddab7fe?channel=ruby_test&pnsdk=PubNub-Ruby/3.5.2&signature=kdDh/sFC3rSR%2Bt5AEymIc57d1velIr562V7usa5M4k0=&timestamp=1234567890&uuid=4b92172b-aa29-4ac2-997d-000e631ef735
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"service":"Access Manager","message":"Success","payload":{"channels":{},"subscribe_key":"sub-c-a478dd2a-c33d-11e2-883f-02ee2ddab7fe","level":"channel"}}'
  recorded_at: Thu, 10 Apr 2014 22:42:28 GMT
recorded_with: VCR 2.9.0
