---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/publish/pub-c-a2650a22-deb1-44f5-aa87-1517049411d5/sub-c-a478dd2a-c33d-11e2-883f-02ee2ddab7fe/0/ruby_test/0/%22whatever%22?pnsdk=PubNub-Ruby/3.5.2&uuid=afe9736c-a4f3-4d37-b0e1-3305d2ca6fdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"status":403,"service":"Access Manager","error":true,"message":"Forbidden","payload":{"channels":["ruby_test"]}}
  recorded_at: Thu, 10 Apr 2014 22:34:47 GMT
recorded_with: VCR 2.9.0
