---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-a478dd2a-c33d-11e2-883f-02ee2ddab7fe?auth=omg_so_key&channel=ruby_test&pnsdk=PubNub-Ruby/3.5.2&signature=kdDh/sFC3rSR%2Bt5AEymIc57d1velIr562V7usa5M4k0=&timestamp=1234567890&uuid=1adda951-d9ec-4880-ae58-4cc9f31a1598
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"service":"Access Manager","message":"Success","payload":{"auths":{},"subscribe_key":"sub-c-a478dd2a-c33d-11e2-883f-02ee2ddab7fe","channel":"ruby_test","level":"user"}}'
  recorded_at: Thu, 10 Apr 2014 22:42:28 GMT
recorded_with: VCR 2.9.0
