---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo-36/ruby_test/0/0?heartbeat=100&pnsdk=PubNub-Ruby/3.5.1&uuid=86fa92b4-eec0-48d1-9692-5a4d88bf0905
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"13959571193693019"]'
  recorded_at: Thu, 27 Mar 2014 21:52:00 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/ruby_test/heartbeat?pnsdk=PubNub-Ruby/3.5.1&uuid=0bf9787a-92fd-4eff-b4e6-7ebda6482827
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence"}'
  recorded_at: Tue, 01 Apr 2014 22:34:54 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/ruby_test/leave?pnsdk=PubNub-Ruby/3.5.1&uuid=4c9f8877-d506-4087-9123-c18b752e8c58
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Tue, 01 Apr 2014 22:50:02 GMT
recorded_with: VCR 2.8.0
