---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo-36/rubyheartbeatdemo/0/13962834724662579?auth=&heartbeat=4&pnsdk=PubNub-Ruby/3.5.1&uuid=5978a0b7-5c8c-45f8-b5d4-618bd36eaf82
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"text":"hey"}],"13962834735397816"]'
  recorded_at: Mon, 31 Mar 2014 16:31:14 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/rubyheartbeatdemo/heartbeat?auth=&pnsdk=PubNub-Ruby/3.5.1&state=%7B%7D&uuid=a3191078-9099-4b86-a36c-c03b03568b89
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence"}'
  recorded_at: Mon, 31 Mar 2014 16:44:27 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo-36/rubyheartbeatdemo/0/0?auth=&heartbeat=12&pnsdk=PubNub-Ruby/3.5.1&uuid=a74c5a27-76e7-4095-8f57-ebe1e4084ea0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"13962834750580997"]'
  recorded_at: Mon, 31 Mar 2014 16:55:05 GMT
recorded_with: VCR 2.8.0
