---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo-36/rubyheartbeatdemo/0/13962834724662579?heartbeat=4&pnsdk=PubNub-Ruby/3.5.1&uuid=5978a0b7-5c8c-45f8-b5d4-618bd36eaf82
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"text":"hey"}],"13962834735397816"]'
  recorded_at: Mon, 31 Mar 2014 16:31:14 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/rubyheartbeatdemo/heartbeat?pnsdk=PubNub-Ruby/3.5.1&uuid=a3191078-9099-4b86-a36c-c03b03568b89
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence"}'
  recorded_at: Mon, 31 Mar 2014 16:44:27 GMT
[...]
- request:
    method: get
<<<<<<< HEAD
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/rubyheartbeatdemo/heartbeat?pnsdk=PubNub-Ruby/3.5.3&uuid=ae396df4-5f1f-4712-bf23-4190aaafe376
=======
    uri: http://pubsub.pubnub.com/subscribe/demo/ping_3/0/14039847413557067?auth=demoish_authkey&pnsdk=PubNub-Ruby/3.5.11&uuid=rubytests
>>>>>>> master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Mon, 05 May 2014 14:16:34 GMT
      Content-Type:
      - application/json
      Content-Length:
      - '55'
      Connection:
      - keep-alive
      Access-Control-Allow-Origin:
      - '*'
      Access-Control-Allow-Methods:
      - GET
      Cache-Control:
      - no-cache
      Accept-Ranges:
      - bytes
      Age:
      - '0'
      Server:
      - Pubnub Presence
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence"}'
  recorded_at: Mon, 05 May 2014 14:16:31 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/ping_3/0/14039847413557067?auth=demoish_authkey&pnsdk=PubNub-Ruby/3.6.4&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[["ping_3.php says 1404144491","ping_3.php says 1404144494","ping_3.php
        says 14041444[...]
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/ping_3/0/14052552454093233?auth=demoish_authkey&pnsdk=PubNub-Ruby/3.6.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
=======
      - Wed, 08 Oct 2014 08:40:17 GMT
>>>>>>> master
      Content-Type:
      - text/javascript; charset="UTF-8"
      Transfer-Encoding:
      - chunked
      Connection:
      - keep-alive
      Cache-Control:
      - no-cache
      Access-Control-Allow-Origin:
      - '*'
      Access-Control-Allow-Methods:
      - GET
    body:
      encoding: UTF-8
<<<<<<< HEAD
      string: '[["ping_3.php says 1412253060","ping_3.php says 1412253064","ping_3.php
        says 1412253067","ping_3.php says 1412253070","ping_3.php says 1412253073","ping_3.php
        says 1412253076","ping_3.php says 1412253079","ping_3.php says 1412253082","pi[...]
[...]
