---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo-36/rubyheartbeatdemo/0/13962834724662579?heartbeat=4&pnsdk=PubNub-Ruby/3.5.1&uuid=5978a0b7-5c8c-45f8-b5d4-618bd36eaf82
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"text":"hey"}],"13962834735397816"]'
  recorded_at: Mon, 31 Mar 2014 16:31:14 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/rubyheartbeatdemo/heartbeat?pnsdk=PubNub-Ruby/3.5.1&uuid=a3191078-9099-4b86-a36c-c03b03568b89
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence"}'
  recorded_at: Mon, 31 Mar 2014 16:44:27 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/ping_3/0/14039847413557067?auth=demoish_authkey&pnsdk=PubNub-Ruby/3.6.4&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[["ping_3.php says 1404144491","ping_3.php says 1404144494","ping_3.php
        says 14041444[...]
