---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo-36/rubyheartbeatdemo/0/13962834724662579?heartbeat=4&pnsdk=PubNub-Ruby/3.5.1&uuid=5978a0b7-5c8c-45f8-b5d4-618bd36eaf82
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"text":"hey"}],"13962834735397816"]'
  recorded_at: Mon, 31 Mar 2014 16:31:14 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/rubyheartbeatdemo/heartbeat?pnsdk=PubNub-Ruby/3.5.1&state=%7B%7D&uuid=a3191078-9099-4b86-a36c-c03b03568b89
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence"}'
  recorded_at: Mon, 31 Mar 2014 16:44:27 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/rubyheartbeatdemo/heartbeat?pnsdk=PubNub-Ruby/3.5.2&state=%7B%7D&uuid=19befa34-c27a-4903-b2c3-bc02812d3c79
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence"}'
  recorded_at: Thu, 10 Apr 2014 10:54:45 GMT
recorded_with: VCR 2.9.0
