---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/demo?auth=demoish_authkey&pnsdk=PubNub-Ruby/3.5.2&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence", "uuids": [],
        "occupancy": 0}'
  recorded_at: Mon, 07 Apr 2014 13:40:13 GMT
recorded_with: VCR 2.8.0
