---
http_interactions:
- request:
    method: get
    uri: http://pam-next.devbuild.pubnub.com/v1/auth/audit/sub-key/sub-c-8e798456-4520-11e3-9b46-02ee2ddab7fe?channel=mychannel&signature=IYSHgtRGjI7Abnyx1L/eVUyYL8V3PX/RPGyjutISFRE=&timestamp=123456&uuid=myuuid
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Success","payload":{"channels":{},"subscribe_key":"sub-c-8e798456-4520-11e3-9b46-02ee2ddab7fe","level":"channel"},"service":"Access
        Manager"}'
  recorded_at: Thu, 07 Nov 2013 04:24:55 GMT
recorded_with: VCR 2.6.0