---
http_interactions:
- request:
    method: get
    uri: http://pam-next.devbuild.pubnub.com/v2/history/sub-key/sub-c-8e798456-4520-11e3-9b46-02ee2ddab7fe/channel/mychannel?auth&count=10&uuid=myuuid
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"status":403,"service":"Access Manager","error":true,"message":"Forbidden","payload":{"channels":["mychannel"]}}
  recorded_at: Tue, 05 Nov 2013 07:19:52 GMT
recorded_with: VCR 2.6.0