---
http_interactions:
- request:
    method: get
    uri: http://pam-next.devbuild.pubnub.com/subscribe/sub-c-8e798456-4520-11e3-9b46-02ee2ddab7fe/mychannel/0/0?auth=myauthkey&uuid=myuuid
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[13836360377250655]'
  recorded_at: Tue, 05 Nov 2013 07:20:37 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/sub-c-8e798456-4520-11e3-9b46-02ee2ddab7fe/mychannel/0/0?auth=myauthkey&uuid=b0f32f10-2818-0131-e604-20c9d047a189
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"status":403,"service":"Access Manager","error":true,"message":"Forbidden","payload":{"channels":["mychannel"]}}
  recorded_at: Tue, 05 Nov 2013 07:20:38 GMT
recorded_with: VCR 2.6.0