---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe/whatever/0/0?pnsdk=PubNub-Ruby/3.6.7&state=%7B%22whatever%22:%7B%22key%22:%22value%22%7D%7D&uuid=rubytestuuid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"14135450713310642"]'
  recorded_at: Fri, 17 Oct 2014 11:24:43 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe/channel/whatever/uuid/rubytestuuid/data?pnsdk=PubNub-Ruby/3.6.7&state=%7B%22key%22:%22value%22%7D&uuid=rubytestuuid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"key": "value"}, "service":
        "Presence"}'
  recorded_at: Fri, 17 Oct 2014 11:24:43 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub_key/sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe/channel/whatever/uuid/rubytestuuid?pnsdk=PubNub-Ruby/3.6.7&uuid=rubytestuuid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "uuid": "rubytestuuid", "service": "Presence", "message":
        "OK", "payload": {"key": "value"}, "channel": "whatever"}'
  recorded_at: Fri, 17 Oct 2014 11:24:44 GMT
recorded_with: VCR 2.9.2
