---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/demo-36/demo-pnpres/0/0?auth=demoish_authkey&pnsdk=PubNub-Ruby/3.5.2&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"13968915474479311"]'
  recorded_at: Mon, 07 Apr 2014 17:25:48 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/demo-36/demo-pnpres/0/13968915474479311?auth=demoish_authkey&pnsdk=PubNub-Ruby/3.5.2&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "join", "timestamp": 1396891554, "uuid": "a1259d2d-7a7c-485f-8076-028a327e976d",
        "occupancy": 1}],"13968915543625014"]'
  recorded_at: Mon, 07 Apr 2014 17:25:55 GMT
recorded_with: VCR 2.8.0
