---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/ds/foo,foo.*/0/0?channel-group=group&pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"14376642203952013","",""]'
  recorded_at: Thu, 23 Jul 2015 15:10:20 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/ds/foo,foo.*/0/14376642203952013?channel-group=group&pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"text":"hey"}],"14376642242988715","foo.*","foo.foo"]'
  recorded_at: Thu, 23 Jul 2015 15:10:24 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/ds/foo,foo.*/0/14376642242988715?channel-group=group&pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "leave", "timestamp": 1437664227, "uuid": "c7769435-68b3-48b0-9065-08cafce285df",
        "occupancy": 0}],"14376642278720422","foo.*","foo.foo-pnpres"]'
  recorded_at: Thu, 23 Jul 2015 15:10:28 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/ds/foo,foo.*/0/14376642278720422?channel-group=group&pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"text":"hey"}],"14376642302336303","foo","foo"]'
  recorded_at: Thu, 23 Jul 2015 15:10:30 GMT
recorded_with: VCR 2.9.2
