---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/ds/foo,foo.*/0/0?channel-group=group&pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"14376642203952013","",""]'
  recorded_at: Thu, 23 Jul 2015 15:10:20 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/ds/foo,foo.*/0/14376642203952013?channel-group=group&pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"text":"hey"}],"14376642242988715","foo.*","foo.foo"]'
  recorded_at: Thu, 23 Jul 2015 15:10:24 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/ds/foo,foo.*/0/14376642242988715?channel-group=group&pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "leave", "timestamp": 1437664227, "uuid": "c7769435-68b3-48b0-9065-08cafce285df",
        "occupancy": 0}],"14376642278720422","foo.*","foo.foo-pnpres"]'
  recorded_at: Thu, 23 Jul 2015 15:10:28 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe/channel/whatever/uuid/rubytestuuid/data?pnsdk=PubNub-Ruby/4.0.0beta7&state=%7B%22key%22:%22value%22%7D&uuid=rubytestuuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"message":"Invalid Subscribe Key","payload":{"channels":["whatever"]},"error":true,"service":"Access Manager","status":400}
  recorded_at: Tue, 27 Oct 2015 17:39:18 GMT
recorded_with: VCR 2.9.3
