---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/ds/foo.*/0/0?pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"14376641318913945","",""]'
  recorded_at: Thu, 23 Jul 2015 15:09:18 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/ds/foo.*/0/14376641318913945?pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "leave", "timestamp": 1437664166, "uuid": "c7769435-68b3-48b0-9065-08cafce285df",
        "occupancy": 0}],"14376641662543427","foo.*","foo.foo-pnpres"]'
  recorded_at: Thu, 23 Jul 2015 15:09:26 GMT
recorded_with: VCR 2.9.2
