---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/ds/foo.*/0/0?pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"14376641726792343","",""]'
  recorded_at: Thu, 23 Jul 2015 15:09:49 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/ds/foo.*/0/14376641726792343?pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "leave", "timestamp": 1437664192, "uuid": "c7769435-68b3-48b0-9065-08cafce285df",
        "occupancy": 0}],"14376641920829590","foo.*","foo.foo-pnpres"]'
  recorded_at: Thu, 23 Jul 2015 15:09:52 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/ds/foo.*/0/14376641948930531?pnsdk=PubNub-Ruby/3.7.5&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "join", "timestamp": 1437664195, "uuid": "c7769435-68b3-48b0-9065-08cafce285df",
        "occupancy": 1}],"14376641960450699","foo.*","foo.foo-pnpres"]'
  recorded_at: Thu, 23 Jul 2015 15:09:56 GMT
recorded_with: VCR 2.9.2
