---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/bob?auth=ruby-test-auth-client-one&include=custom&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"magnum"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"bob","name":"magnum","externalId":null,"profileUrl":null,"email":null,"custom":null,"updated":"2021-03-03T23:11:37.570828Z","eTag":"AaaUxtPTpNTufg"}}'
  recorded_at: Wed, 03 Mar 2021 23:25:23 GMT
recorded_with: VCR 6.0.0
