---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/bob?auth=ruby-test-auth-client-one&include=custom,status,type&pnsdk=PubNub-Ruby/5.4.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"magnum","type":"admin","status":"away"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"bob","name":"magnum","externalId":null,"profileUrl":null,"email":null,"type":"admin","status":"away","custom":{"announcer":true},"updated":"2025-01-21T10:46:24.429565Z","eTag":"45708f3570743e16664a7ab2929d1d71"}}'
  recorded_at: Tue, 21 Jan 2025 11:24:11 GMT
recorded_with: VCR 6.3.1
