---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-a-mock-key/channel/a!@%23$%25%5E&*()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E%3F%3F~%60Z?pnsdk=PubNub-Ruby/4.0.21&signature=TCAR%2BkkCtGwRwBLF6k7jFjXnBBcnFHqo4GQDX7MLVNQ=&timestamp=1496401140&uuid=test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "occupancy": 0, "uuids": [], "service":
        "Presence"}'
  recorded_at: Fri, 02 Jun 2017 10:59:00 GMT
recorded_with: VCR 3.0.1
