---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-a-mock-key/channel/a!@%23$%25%5E&*()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E%3F%3F~%60Z?limit=1000&pnsdk=PubNub-Ruby/4.0.21&signature=v2.kA0ehBw7JQEFu7g3Mk1polqVqiCSEB8-ZZk1ahElQgs&timestamp=1496401140&uuid=test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"message":"OK","occupancy":0,"service":"Presence","status":200,"uuids":[]}'
  recorded_at: Fri, 03 Oct 2025 18:26:24 GMT
recorded_with: VCR 6.3.1
