---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-b6df3d38-45e3-11e7-86e2-02ee2ddab7fe/channel/a!@%23$%25%5E&*()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E%3F%3F~%60Z/leave?pnsdk=PubNub-Ruby/4.0.21&signature=kJUHWOmTP7r0hw6Ji6bY2xfIrrph1ZsOf9TGW3Rr2us=&timestamp=1496401409&uuid=test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "action": "leave", "service": "Presence"}'
  recorded_at: Fri, 02 Jun 2017 11:03:30 GMT
recorded_with: VCR 3.0.1
