---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-a-mock-key/channel/a!@%23$%25%5E&*()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E%3F%3F~%60Z/uuid/a!@%23$%25%5E&()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E%3F%3F~%60Z/data?pnsdk=PubNub-Ruby/4.0.21&signature=v2.HYVbTFmMvkZ5NaCGpW9UCXpGq5331lLBCTNwx6Z_y0U&state=%7B%22something%22:%22a!@%23$%25%5E%26*()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%5C%22%5C%22%3C%3E??~%60Z%22%7D&timestamp=1496402248&uuid=a!@%23$%25%5E%26()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E??~%60Z
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"message":"OK","payload":{"something":"a!@#$%^&*()ŻÓŁ[]{}\"\"<>??~`Z"},"service":"Presence","status":200}'
  recorded_at: Mon, 03 Nov 2025 23:31:10 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub_key/sub-a-mock-key/channel/a!@%23$%25%5E&*()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E%3F%3F~%60Z/uuid/a!@%23$%25%5E&()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E%3F%3F~%60Z?pnsdk=PubNub-Ruby/4.0.21&signature=v2.T2y7KkP-VnWVMCEDFrxTGUNAKM_BgNmCPOi4JeMry2E&timestamp=1496402248&uuid=a!@%23$%25%5E%26()%C5%BB%C3%93%C5%81%5B%5D%7B%7D%22%22%3C%3E??~%60Z
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"channel":"a!@#$%^&*()ŻÓŁ[]{}\"\"<>??~`Z","message":"OK","payload":{"something":"a!@#$%^&*()ŻÓŁ[]{}\"\"<>??~`Z"},"service":"Presence","status":200,"uuid":"a!@#$%^&()ŻÓŁ[]{}\"\"<>??~`Z"}'
  recorded_at: Mon, 03 Nov 2025 23:31:10 GMT
recorded_with: VCR 6.3.1
