---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?channel=demo.*&m=1&pnsdk=PubNub-Ruby/4.0.21&r=1&signature=DzBQYuME9z8fKIOtmo6ubv3rt-rsw9g9oc62lxmF6F0=&timestamp=1496242823&ttl=1440&uuid=test&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-a-mock-key","ttl":1440,"channels":{"demo.*":{"r":1,"w":1,"m":1}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 31 May 2017 15:00:24 GMT
recorded_with: VCR 3.0.1
