---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/demo/demo/0?pnsdk=PubNub-Ruby/4.0.1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=9c9bb363-c504-4bd5-a545-1e925a2bccf1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14688455796837739","r":2},"m":[]}'
  recorded_at: Mon, 18 Jul 2016 12:39:39 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/demo/leave?pnsdk=PubNub-Ruby/4.0.1&uuid=9c9bb363-c504-4bd5-a545-1e925a2bccf1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Mon, 18 Jul 2016 12:39:40 GMT
recorded_with: VCR 3.0.1
