---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=4af37753-c4fd-4363-9d7f-8d63af9a366f
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611901370141527","r":12},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:19:22 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:12,%22t%22:%2214611901370141527%22%7D&uuid=4af37753-c4fd-4363-9d7f-8d63af9a366f
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611907633822112","r":12},"m":[{"a":"3","f":0,"p":{"t":"14611907628625751","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461190762, "uuid": "secondrubytester", "occupancy":
        1}},{"a":"3","f":0,"p":{"t":"14611907633353336","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "leave", "timestamp": 1461190763, "uuid": "secondrubytester", "occupancy":
        0}}]}'
  recorded_at: Wed, 20 Apr 2016 22:19:23 GMT
recorded_with: VCR 3.0.1
