---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=883af651-08d8-4e49-9c68-6b4e5d8ed87a
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611916073266519","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:38:04 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611916073266519%22%7D&uuid=883af651-08d8-4e49-9c68-6b4e5d8ed87a
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611918857832030","r":3},"m":[{"a":"3","f":0,"p":{"t":"14611918857054115","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "leave", "timestamp": 1461191885, "uuid": "secondrubytester", "occupancy":
        0}}]}'
  recorded_at: Wed, 20 Apr 2016 22:38:05 GMT
recorded_with: VCR 3.0.1
