---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=1a0a55d2-762b-4df5-998b-84724cb6bd63
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611921675615795","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:42:48 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611921675615795%22%7D&uuid=1a0a55d2-762b-4df5-998b-84724cb6bd63
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611921688969156","r":3},"m":[{"a":"3","f":0,"p":{"t":"14611921688582446","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "leave", "timestamp": 1461192168, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest1-pnpres"}]}'
  recorded_at: Wed, 20 Apr 2016 22:42:49 GMT
recorded_with: VCR 3.0.1
