---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=f7a968ad-6fad-4a26-aa38-ceee349cacc1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611921709940352","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:42:51 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611921709940352%22%7D&uuid=f7a968ad-6fad-4a26-aa38-ceee349cacc1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611921722576758","r":3},"m":[{"a":"3","f":0,"p":{"t":"14611921721692817","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "leave", "timestamp": 1461192172, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest0-pnpres"}]}'
  recorded_at: Wed, 20 Apr 2016 22:42:52 GMT
recorded_with: VCR 3.0.1
