---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=7a8787b8-6ff0-4897-8ec2-32966a2e4b68
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611921726236616","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:42:53 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611921726236616%22%7D&uuid=7a8787b8-6ff0-4897-8ec2-32966a2e4b68
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611921745109551","r":3},"m":[{"a":"3","f":0,"p":{"t":"14611921744173350","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "join", "timestamp": 1461192174, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest0-pnpres"}]}'
  recorded_at: Wed, 20 Apr 2016 22:42:55 GMT
recorded_with: VCR 3.0.1
