---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=8c285b4b-845d-4b1e-8b5c-5e36814b2532
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611907633757754","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:24:02 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611907633757754%22%7D&uuid=8c285b4b-845d-4b1e-8b5c-5e36814b2532
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611910438387154","r":3},"m":[{"a":"3","f":0,"p":{"t":"14611910431530114","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461191043, "uuid": "secondrubytester", "occupancy":
        1}},{"a":"3","f":0,"p":{"t":"14611910437988916","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "leave", "timestamp": 1461191043, "uuid": "secondrubytester", "occupancy":
        0}}]}'
  recorded_at: Wed, 20 Apr 2016 22:24:03 GMT
recorded_with: VCR 3.0.1
