---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=93ea0e4f-89a2-4b18-b700-310073cbf3a3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221063509514","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:01:58 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612221063509514%22%7D&uuid=93ea0e4f-89a2-4b18-b700-310073cbf3a3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221069266039","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":387,"o":{"t":"14612221181997362"},"p":{"t":"14612221066306009","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":388,"o":{"t":"14612221183842418"},"p":{"t":"14612221068334519","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14612221069087360","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461222106, "uuid": "93ea0e4f-89a2-4b18-b700-310073cbf3a3",
        "occupancy": 11},"b":"rubytest-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":387,"o":{"t":"14612221181997362"},"p":{"t":"14612221066306009","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":388,"o":{"t":"14612221183842418"},"p":{"t":"14612221068334519","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Thu, 21 Apr 2016 07:01:59 GMT
recorded_with: VCR 3.0.1
