---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=bf65872b-706c-4e45-a2f8-d23736823987
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221181356460","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:02:10 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612221181356460%22%7D&uuid=bf65872b-706c-4e45-a2f8-d23736823987
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221193663961","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":401,"o":{"t":"14612221307419642"},"p":{"t":"14612221191865437","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":401,"o":{"t":"14612221307419642"},"p":{"t":"14612221191865437","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14612221192501960","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461222119, "uuid": "bf65872b-706c-4e45-a2f8-d23736823987",
        "occupancy": 19},"b":"rubytest-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":402,"o":{"t":"14612221309294488"},"p":{"t":"14612221193655544","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":402,"o":{"t":"14612221309294488"},"p":{"t":"14612221193655544","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Thu, 21 Apr 2016 07:02:11 GMT
recorded_with: VCR 3.0.1
