---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=3828d0ce-88e8-4c4f-8243-28d45609920d
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221214547438","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:02:14 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612221214547438%22%7D&uuid=3828d0ce-88e8-4c4f-8243-28d45609920d
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221230546897","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":405,"o":{"t":"14612221344096908"},"p":{"t":"14612221228579181","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":405,"o":{"t":"14612221344096908"},"p":{"t":"14612221228579181","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14612221229061658","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461222122, "uuid": "3828d0ce-88e8-4c4f-8243-28d45609920d",
        "occupancy": 20},"b":"rubytest-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":406,"o":{"t":"14612221345974780"},"p":{"t":"14612221230545179","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":406,"o":{"t":"14612221345974780"},"p":{"t":"14612221230545179","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Thu, 21 Apr 2016 07:02:15 GMT
recorded_with: VCR 3.0.1
