---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=6c2e6580-dfc1-4176-a0d2-a491cf326dcb
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221280551592","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:02:19 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612221280551592%22%7D&uuid=6c2e6580-dfc1-4176-a0d2-a491cf326dcb
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221293408615","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":411,"o":{"t":"14612221399088810"},"p":{"t":"14612221283345669","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":412,"o":{"t":"14612221400942960"},"p":{"t":"14612221285329582","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14612221293393084","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "join", "timestamp": 1461222129, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest0-pnpres"},{"a":"3","f":0,"p":{"t":"14612221292582985","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "join", "timestamp": 1461222129, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest1-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":411,"o":{"t":"14612221399088810"},"p":{"t":"14612221283345669","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":412,"o":{"t":"14612221400942960"},"p":{"t":"14612221285329582","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Thu, 21 Apr 2016 07:02:21 GMT
recorded_with: VCR 3.0.1
