---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=b36ec65e-51f5-412d-ae9f-e376d6aab985
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221322337460","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:02:24 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612221322337460%22%7D&uuid=b36ec65e-51f5-412d-ae9f-e376d6aab985
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221342528148","r":2},"m":[{"a":"3","f":0,"p":{"t":"14612221332942872","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "leave", "timestamp": 1461222133, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest0-pnpres"},{"a":"3","f":0,"p":{"t":"14612221337553594","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "join", "timestamp": 1461222133, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest1-pnpres"},{"a":"3","f":0,"p":{"t":"14612221337234516","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "leave", "timestamp": 1461222133, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest1-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":417,"o":{"t":"14612221458192180"},"p":{"t":"14612221342524701","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":417,"o":{"t":"14612221458192180"},"p":{"t":"14612221342524701","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Thu, 21 Apr 2016 07:02:26 GMT
recorded_with: VCR 3.0.1
