---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=3ee2cbfd-9b35-4bb4-bd91-a58f44a66d98
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221361604322","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:02:28 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612221361604322%22%7D&uuid=3ee2cbfd-9b35-4bb4-bd91-a58f44a66d98
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221379327086","r":2},"m":[{"a":"3","f":0,"p":{"t":"14612221372945111","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "leave", "timestamp": 1461222137, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest0-pnpres"},{"a":"3","f":0,"p":{"t":"14612221376599587","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "leave", "timestamp": 1461222137, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest1-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":421,"o":{"t":"14612221494866612"},"p":{"t":"14612221379327870","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":421,"o":{"t":"14612221494866612"},"p":{"t":"14612221379327870","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Thu, 21 Apr 2016 07:02:29 GMT
recorded_with: VCR 3.0.1
