---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=4a7ed1e6-6163-4744-b82d-4dac2330ff18
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221452206860","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:02:37 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612221452206860%22%7D&uuid=4a7ed1e6-6163-4744-b82d-4dac2330ff18
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612221469590300","r":2},"m":[{"a":"3","f":0,"p":{"t":"14612221462680489","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "leave", "timestamp": 1461222146, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest0-pnpres"},{"a":"3","f":0,"p":{"t":"14612221469008141","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "leave", "timestamp": 1461222146, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest1-pnpres"}]}'
  recorded_at: Thu, 21 Apr 2016 07:02:38 GMT
recorded_with: VCR 3.0.1
