---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=8bba1db5-ea09-4e8c-9296-6b80e1f72a37
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922002092009","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:43:20 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611922002092009%22%7D&uuid=8bba1db5-ea09-4e8c-9296-6b80e1f72a37
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922013424614","r":3},"m":[{"a":"3","f":0,"p":{"t":"14611922007432518","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461192200, "uuid": "8bba1db5-ea09-4e8c-9296-6b80e1f72a37",
        "occupancy": 14},"b":"rubytest-pnpres"},{"a":"3","f":0,"p":{"t":"14611922013032048","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "leave", "timestamp": 1461192201, "uuid": "secondrubytester", "occupancy":
        13},"b":"rubytest-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":13,"o":{"t":"14611922003371450"},"p":{"t":"14611922003640215","r":3},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Wed, 20 Apr 2016 22:43:21 GMT
recorded_with: VCR 3.0.1
