---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=ace93010-7263-4d5f-9b55-ef42fdfe2f89
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922013424614","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:43:21 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611922013424614%22%7D&uuid=ace93010-7263-4d5f-9b55-ef42fdfe2f89
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922021621577","r":3},"m":[{"a":"3","f":0,"i":"secondrubytester","s":14,"o":{"t":"14611922016105962"},"p":{"t":"14611922016380448","r":3},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14611922021223428","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461192202, "uuid": "ace93010-7263-4d5f-9b55-ef42fdfe2f89",
        "occupancy": 14},"b":"rubytest-pnpres"}]}'
  recorded_at: Wed, 20 Apr 2016 22:43:22 GMT
recorded_with: VCR 3.0.1
