---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=5ea59d3d-2aa4-45d9-b2be-419bd22d605f
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922021621577","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:43:22 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611922021621577%22%7D&uuid=5ea59d3d-2aa4-45d9-b2be-419bd22d605f
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922038693531","r":3},"m":[{"a":"3","f":0,"i":"secondrubytester","s":15,"o":{"t":"14611922029352060"},"p":{"t":"14611922029623578","r":3},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14611922037168069","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461192203, "uuid": "secondrubytester", "occupancy":
        15},"b":"rubytest-pnpres"},{"a":"3","f":0,"p":{"t":"14611922037348418","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461192203, "uuid": "5ea59d3d-2aa4-45d9-b2be-419bd22d605f",
        "occupancy": 16},"b":"rubytest-pnpres"},{"a":"3","f":0,"p":{"t":"14611922038306750","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "leave", "timestamp": 1461192203, "uuid": "secondrubytester", "occupancy":
        15},"b":"rubytest-pnpres"}]}'
  recorded_at: Wed, 20 Apr 2016 22:43:24 GMT
recorded_with: VCR 3.0.1
