---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=835f9921-3055-4b84-8f78-6d75a2dadcd3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922061008242","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:43:26 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611922061008242%22%7D&uuid=835f9921-3055-4b84-8f78-6d75a2dadcd3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922073960842","r":3},"m":[{"a":"3","f":0,"i":"secondrubytester","s":18,"o":{"t":"14611922067583440"},"p":{"t":"14611922067851885","r":3},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14611922072935820","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461192207, "uuid": "5787d95c-1f68-4336-95d9-7b359bc658ed",
        "occupancy": 18},"b":"rubytest-pnpres"},{"a":"3","f":0,"p":{"t":"14611922073186384","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461192207, "uuid": "835f9921-3055-4b84-8f78-6d75a2dadcd3",
        "occupancy": 19},"b":"rubytest-pnpres"}]}'
  recorded_at: Wed, 20 Apr 2016 22:43:27 GMT
recorded_with: VCR 3.0.1
