---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=7cdd75cc-3105-4a9d-b489-96af110cccc1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224043274357","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:06:56 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224043274357%22%7D&uuid=7cdd75cc-3105-4a9d-b489-96af110cccc1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224049826425","r":2},"m":[{"a":"3","f":0,"p":{"t":"14612224049242852","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222404, "uuid": "7cdd75cc-3105-4a9d-b489-96af110cccc1",
        "occupancy": 1},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:06:57 GMT
recorded_with: VCR 3.0.1
