---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=5fd912f2-8992-4d28-8ed6-04f41e9b7271
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224065303498","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:06:59 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224065303498%22%7D&uuid=5fd912f2-8992-4d28-8ed6-04f41e9b7271
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224093398394","r":2},"m":[{"a":"3","f":0,"p":{"t":"14612224085695457","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222408, "uuid": "5fd912f2-8992-4d28-8ed6-04f41e9b7271",
        "occupancy": 3},"b":"ruby.*"},{"a":"3","f":0,"i":"secondrubytester","s":867,"o":{"t":"14612224207341618"},"p":{"t":"14612224091594565","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"i":"secondrubytester","s":868,"o":{"t":"14612224209178250"},"p":{"t":"14612224093395034","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:01 GMT
recorded_with: VCR 3.0.1
