---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=aec40e8b-7e4f-45d5-8148-5e41507b3396
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224095210479","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:01 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224095210479%22%7D&uuid=aec40e8b-7e4f-45d5-8148-5e41507b3396
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224105788159","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":870,"o":{"t":"14612224215280470"},"p":{"t":"14612224099979486","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224105794400","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222410, "uuid": "aec40e8b-7e4f-45d5-8148-5e41507b3396",
        "occupancy": 4},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:02 GMT
recorded_with: VCR 3.0.1
