---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=03f77d60-2f9c-4bd8-8bdc-004d04724b74
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224167559048","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:09 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224167559048%22%7D&uuid=03f77d60-2f9c-4bd8-8bdc-004d04724b74
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224182773352","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":874,"o":{"t":"14612224294621482"},"p":{"t":"14612224178904147","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224182375563","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222418, "uuid": "03f77d60-2f9c-4bd8-8bdc-004d04724b74",
        "occupancy": 8},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:10 GMT
recorded_with: VCR 3.0.1
