---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=63a8ef83-6f4c-4abc-b9d4-33c13d5a6911
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224182773352","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:11 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224182773352%22%7D&uuid=63a8ef83-6f4c-4abc-b9d4-33c13d5a6911
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224202374292","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":875,"o":{"t":"14612224314347460"},"p":{"t":"14612224198795641","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224201972051","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222420, "uuid": "63a8ef83-6f4c-4abc-b9d4-33c13d5a6911",
        "occupancy": 9},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:12 GMT
recorded_with: VCR 3.0.1
