---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=a61d8ae4-6924-4ef3-8fca-fad311641f12
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224202374292","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:13 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224202374292%22%7D&uuid=a61d8ae4-6924-4ef3-8fca-fad311641f12
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224219840579","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":876,"o":{"t":"14612224332540660"},"p":{"t":"14612224217272796","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224219849790","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222421, "uuid": "a61d8ae4-6924-4ef3-8fca-fad311641f12",
        "occupancy": 10},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:14 GMT
recorded_with: VCR 3.0.1
