---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=8c604265-a185-49c4-9f19-9bfeff5d9f75
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922085561187","r":3},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:43:29 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:3,%22t%22:%2214611922085561187%22%7D&uuid=8c604265-a185-49c4-9f19-9bfeff5d9f75
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922100500609","r":3},"m":[{"a":"3","f":0,"i":"secondrubytester","s":20,"o":{"t":"14611922093467910"},"p":{"t":"14611922093738245","r":3},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14611922100060106","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461192210, "uuid": "8c604265-a185-49c4-9f19-9bfeff5d9f75",
        "occupancy": 20},"b":"rubytest-pnpres"}]}'
  recorded_at: Wed, 20 Apr 2016 22:43:30 GMT
recorded_with: VCR 3.0.1
