---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=b21951a7-e877-4d02-9e1c-30dd6856b1c7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224219840579","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:15 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224219840579%22%7D&uuid=b21951a7-e877-4d02-9e1c-30dd6856b1c7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224241043126","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":877,"o":{"t":"14612224352222230"},"p":{"t":"14612224236396210","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224240643517","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222424, "uuid": "b21951a7-e877-4d02-9e1c-30dd6856b1c7",
        "occupancy": 11},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:16 GMT
recorded_with: VCR 3.0.1
