---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres,ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=fcd12bc0-9c68-4dac-8b22-0d8674949993
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224294164474","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:22 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres,ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224294164474%22%7D&uuid=fcd12bc0-9c68-4dac-8b22-0d8674949993
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224318146109","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":881,"o":{"t":"14612224426938240"},"p":{"t":"14612224311597423","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224317742773","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222431, "uuid": "fcd12bc0-9c68-4dac-8b22-0d8674949993",
        "occupancy": 15},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:23 GMT
recorded_with: VCR 3.0.1
