---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres,ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=e81b1cb0-30c1-4ac9-b05a-1a5983047efc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224318146109","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:24 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres,ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224318146109%22%7D&uuid=e81b1cb0-30c1-4ac9-b05a-1a5983047efc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224335995744","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":882,"o":{"t":"14612224443078030"},"p":{"t":"14612224327270786","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224329604340","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222432, "uuid": "e81b1cb0-30c1-4ac9-b05a-1a5983047efc",
        "occupancy": 16},"b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224336000213","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "interval", "timestamp": 1461222433, "occupancy": 92},"b":"rubytest-pnpres"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:25 GMT
recorded_with: VCR 3.0.1
