---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres,ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=67764ecb-1fbb-4c2e-8e1a-b855315b2770
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224335995744","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:26 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres,ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224335995744%22%7D&uuid=67764ecb-1fbb-4c2e-8e1a-b855315b2770
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224358694147","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":883,"o":{"t":"14612224467259130"},"p":{"t":"14612224351500424","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224358511837","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222435, "uuid": "67764ecb-1fbb-4c2e-8e1a-b855315b2770",
        "occupancy": 17},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:27 GMT
recorded_with: VCR 3.0.1
