---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres,ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=c903d9f2-275f-41d5-9180-0ba1bd6db01a
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224358694147","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:07:28 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest-pnpres,ruby.*/0?pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612224358694147%22%7D&uuid=c903d9f2-275f-41d5-9180-0ba1bd6db01a
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612224372777209","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":884,"o":{"t":"14612224483100350"},"p":{"t":"14612224368900195","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612224372444807","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461222437, "uuid": "c903d9f2-275f-41d5-9180-0ba1bd6db01a",
        "occupancy": 18},"b":"ruby.*"}]}'
  recorded_at: Thu, 21 Apr 2016 07:07:29 GMT
recorded_with: VCR 3.0.1
