---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=4cfc5c77-f342-4353-bd72-25d43c2c1ff6
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922158583747","r":12},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:43:35 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:12,%22t%22:%2214611922158583747%22%7D&uuid=4cfc5c77-f342-4353-bd72-25d43c2c1ff6
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922169573261","r":12},"m":[{"a":"3","f":0,"p":{"t":"14611922169084440","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "join", "timestamp": 1461192216, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest0-pnpres"},{"a":"3","f":0,"p":{"t":"14611922168268312","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "join", "timestamp": 1461192216, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest1-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":25,"o":{"t":"14611922161215128"},"p":{"t":"14611922161485587","r":3},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Wed, 20 Apr 2016 22:43:37 GMT
recorded_with: VCR 3.0.1
