---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=fe6169f5-87b7-4a98-8bde-e90f0b60b17f
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922169573261","r":12},"m":[]}'
  recorded_at: Wed, 20 Apr 2016 22:43:37 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest0-pnpres,rubytest1-pnpres/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:12,%22t%22:%2214611922169573261%22%7D&uuid=fe6169f5-87b7-4a98-8bde-e90f0b60b17f
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14611922178158151","r":12},"m":[{"a":"3","f":0,"p":{"t":"14611922170939304","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "leave", "timestamp": 1461192217, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest0-pnpres"},{"a":"3","f":0,"p":{"t":"14611922174947514","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "join", "timestamp": 1461192217, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest1-pnpres"},{"a":"3","f":0,"p":{"t":"14611922175067337","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "leave", "timestamp": 1461192217, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest1-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":26,"o":{"t":"14611922177787170"},"p":{"t":"14611922178059226","r":3},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Wed, 20 Apr 2016 22:43:38 GMT
recorded_with: VCR 3.0.1
