---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest-pnpres,ruby.*/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=f0d4592b-cdb7-4560-90ee-cf8926a1673e
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612231342085410","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:19:15 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest-pnpres,ruby.*/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612231342085410%22%7D&uuid=f0d4592b-cdb7-4560-90ee-cf8926a1673e
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612231443255889","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":1226,"o":{"t":"14612231550135412"},"p":{"t":"14612231437597910","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":1226,"o":{"t":"14612231550135412"},"p":{"t":"14612231437597910","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"p":{"t":"14612231437526157","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461223143, "uuid": "f0d4592b-cdb7-4560-90ee-cf8926a1673e",
        "occupancy": 14},"b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612231438149009","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest-pnpres","d":{"action":
        "join", "timestamp": 1461223143, "uuid": "f0d4592b-cdb7-4560-90ee-cf8926a1673e",
        "occupancy": 15},"b":"rubytest-pnpres"},{"a":"3","f":0,"i":"secondrubytester","s":1227,"o":{"t":"14612231555825880"},"p":{"t":"14612231440559539","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"i":"secondrubytester","s":1228,"o":{"t":"14612231558871970"},"p":{"t":"14612231443061985","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":1228,"o":{"t":"14612231558871970"},"p":{"t":"14612231443061985","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"}]}'
  recorded_at: Thu, 21 Apr 2016 07:19:16 GMT
recorded_with: VCR 3.0.1
