---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres,ruby.*/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=2913eb01-a4f8-4049-a298-233b37a7db3b
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612231527741830","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:19:25 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,rubytest0-pnpres,rubytest1-pnpres,ruby.*/0?channel-group=rubytest&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612231527741830%22%7D&uuid=2913eb01-a4f8-4049-a298-233b37a7db3b
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612231543771133","r":2},"m":[{"a":"3","f":0,"p":{"t":"14612231535979304","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0-pnpres","d":{"action":
        "join", "timestamp": 1461223153, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest0-pnpres"},{"a":"3","f":0,"p":{"t":"14612231536693355","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "join", "timestamp": 1461223153, "uuid": "secondrubytester", "occupancy":
        1},"b":"rubytest1-pnpres"},{"a":"3","f":0,"p":{"t":"14612231541184223","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461223154, "uuid": "2913eb01-a4f8-4049-a298-233b37a7db3b",
        "occupancy": 19},"b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612231543432871","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1-pnpres","d":{"action":
        "leave", "timestamp": 1461223154, "uuid": "secondrubytester", "occupancy":
        0},"b":"rubytest1-pnpres"}]}'
  recorded_at: Thu, 21 Apr 2016 07:19:26 GMT
recorded_with: VCR 3.0.1
