---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,ruby.*/0?channel-group=rubytest0,rubytest1&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:%220%22,%22t%22:0%7D&uuid=a3e2e16e-0481-41bf-8d23-fcd5600bb390
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612233264104248","r":2},"m":[]}'
  recorded_at: Thu, 21 Apr 2016 07:22:18 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/v2/subscribe/sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe/rubytest,ruby.*/0?channel-group=rubytest0,rubytest1&pnsdk=PubNub-Ruby/4.0.0&t=%7B%22r%22:2,%22t%22:%2214612233264104248%22%7D&uuid=a3e2e16e-0481-41bf-8d23-fcd5600bb390
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14612233277821077","r":2},"m":[{"a":"3","f":0,"i":"secondrubytester","s":1,"o":{"t":"14612233383695108"},"p":{"t":"14612233269734199","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest","d":"test_message","b":"rubytest"},{"a":"3","f":0,"i":"secondrubytester","s":2,"o":{"t":"14612233387225990"},"p":{"t":"14612233272067669","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.test","d":"test_message","b":"ruby.*"},{"a":"3","f":0,"p":{"t":"14612233272905965","r":1},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"ruby.*-pnpres","d":{"action":
        "join", "timestamp": 1461223327, "uuid": "a3e2e16e-0481-41bf-8d23-fcd5600bb390",
        "occupancy": 20},"b":"ruby.*"},{"a":"3","f":0,"i":"secondrubytester","s":3,"o":{"t":"14612233389511790"},"p":{"t":"14612233274629735","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest0","d":"test_message","b":"rubytest0"},{"a":"3","f":0,"i":"secondrubytester","s":4,"o":{"t":"14612233392735010"},"p":{"t":"14612233277825929","r":2},"k":"sub-c-9a20ffa4-0243-11e6-861b-02ee2ddab7fe","c":"rubytest1","d":"test_message","b":"rubytest1"}]}'
  recorded_at: Thu, 21 Apr 2016 07:22:19 GMT
recorded_with: VCR 3.0.1
