---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-719173ee-ff28-11e4-ab7c-0619f8945a4f?channel=demo_channel&pnsdk=PubNub-Ruby/4.0.0beta&r=0&signature=Go2-PQjqG0u7clbzo1j4DF3wkUYqLbO34BaP2AR8e8I=&timestamp=1435671971&ttl=1440&uuid=gentest&w=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"service":"Access Manager","message":"Success","payload":{"channels":{"demo_channel":{"r":0,"m":0,"w":0}},"subscribe_key":"sub-c-719173ee-ff28-11e4-ab7c-0619f8945a4f","ttl":1,"level":"channel"}}'
  recorded_at: Tue, 30 Jun 2015 13:46:11 GMT
recorded_with: VCR 2.9.3
