---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-243e56aa-1b13-11e5-a5e2-02ee2ddab7fe/channel-group/group?pnsdk=PubNub-Ruby/4.0.0beta&uuid=gentest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "payload": {"channels": [], "group": "group"}, "service":
        "channel-registry", "error": false}'
  recorded_at: Tue, 30 Jun 2015 13:38:45 GMT
recorded_with: VCR 2.9.3
