---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-719173ee-ff28-11e4-ab7c-0619f8945a4f/uuid/john?pnsdk=PubNub-Ruby/4.0.0beta&uuid=gentest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"channels": []}, "service":
        "Presence"}'
  recorded_at: Tue, 30 Jun 2015 13:46:39 GMT
recorded_with: VCR 2.9.3
