---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-c-777bcd44-f825-11e5-861b-02ee2ddab7fe?channel=channel&pnsdk=PubNub-Ruby/4.0.0beta1&signature=QR698olnyPFXhTgmHZk3wdj5esQxSAGuOcNUhXgkUt0=&timestamp=1465921213&uuid=gentest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-777bcd44-f825-11e5-861b-02ee2ddab7fe","channels":{}},"service":"Access
        Manager","status":200}'
  recorded_at: Tue, 14 Jun 2016 16:20:13 GMT
recorded_with: VCR 3.0.1
