---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/publish/pub-c-ef1905bd-3c9c-4bc7-9f20-f6ee1f50f79b/sub-c-719173ee-ff28-11e4-ab7c-0619f8945a4f/0//0/%5B%22me%22,%22ssage%22%5D?pnsdk=PubNub-Ruby/4.0.0beta&uuid=494e0277-2edb-4382-a684-d78f4934e478
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        ["me","ssage"]({"status":403,"service":"Access Manager","error":true,"message":"Forbidden","payload":{"channels":["0"]}})
  recorded_at: Fri, 12 Jun 2015 16:08:22 GMT
recorded_with: VCR 2.9.3
