---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-719173ee-ff28-11e4-ab7c-0619f8945a4f?channel=demo_channel&pnsdk=PubNub-Ruby/4.0.0beta&r=1&signature=CXQU4am9SPpmr_kODvllJmDrN04QRgWgklST3Fn6tIE=&timestamp=1435671947&ttl=0&uuid=gentest&w=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"service":"Access Manager","message":"Success","payload":{"channels":{"demo_channel":{"r":1,"m":0,"w":1}},"subscribe_key":"sub-c-719173ee-ff28-11e4-ab7c-0619f8945a4f","ttl":0,"level":"channel"}}'
  recorded_at: Tue, 30 Jun 2015 13:45:47 GMT
recorded_with: VCR 2.9.3
