---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres,demo0,demo1/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648854296212304","r":12},"m":[]}'
  recorded_at: Thu, 02 Jun 2016 16:37:09 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres,demo0,demo1/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:12,%22t%22:%2214648854296212304%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648854306351220","r":12},"m":[{"a":"5","f":0,"p":{"t":"14648854305694532","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1464885430, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":565,"o":{"t":"14648854297584200"},"p":{"t":"14648854297866727","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo0"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":567,"o":{"t":"14648854298197120"},"p":{"t":"14648854298479260","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo1"}]}'
  recorded_at: Thu, 02 Jun 2016 16:37:12 GMT
recorded_with: VCR 3.0.1
