---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648816159183049","r":3},"m":[]}'
  recorded_at: Thu, 02 Jun 2016 15:33:38 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:3,%22t%22:%2214648816159183049%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648816196698246","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":329,"o":{"t":"14648816182678662"},"p":{"t":"14648816182992113","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14648816187846359","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1464881618, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo-pnpres"},{"a":"5","f":0,"p":{"t":"14648816195414088","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1464881619, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo-pnpres"}]}'
  recorded_at: Thu, 02 Jun 2016 15:33:41 GMT
recorded_with: VCR 3.0.1
