---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648820737735849","r":3},"m":[]}'
  recorded_at: Thu, 02 Jun 2016 15:41:16 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:3,%22t%22:%2214648820737735849%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648820775598445","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":815,"o":{"t":"14648820763393380"},"p":{"t":"14648820763721926","r":3},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14648820770259148","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1464882076, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo-pnpres"},{"a":"5","f":0,"p":{"t":"14648820775207086","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1464882077, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo-pnpres"}]}'
  recorded_at: Thu, 02 Jun 2016 15:41:19 GMT
recorded_with: VCR 3.0.1
