---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo-pnpres,demo.*/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648843988332846","r":3},"m":[]}'
  recorded_at: Thu, 02 Jun 2016 16:20:00 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo-pnpres,demo.*/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:3,%22t%22:%2214648843988332846%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648844020646317","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":171,"o":{"t":"14648844007887202"},"p":{"t":"14648844008218705","r":3},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":173,"o":{"t":"14648844008583932"},"p":{"t":"14648844008907331","r":3},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo"},{"a":"5","f":0,"p":{"t":"14648844014063543","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1464884401, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo-pnpres"},{"a":"5","f":0,"p":{"t":"14648844020261654","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1464884402, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo-pnpres"}]}'
  recorded_at: Thu, 02 Jun 2016 16:20:03 GMT
recorded_with: VCR 3.0.1
