---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres,demo0,demo1/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648818205032624","r":12},"m":[]}'
  recorded_at: Thu, 02 Jun 2016 15:37:00 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres,demo0,demo1/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:12,%22t%22:%2214648818205032624%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14648818220374382","r":12},"m":[{"a":"5","f":0,"p":{"t":"14648818219906160","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1464881821, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":517,"o":{"t":"14648818206379900"},"p":{"t":"14648818206669511","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0","d":"test_message","b":"demo0"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":519,"o":{"t":"14648818206983512"},"p":{"t":"14648818207274014","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1","d":"test_message","b":"demo1"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":521,"o":{"t":"14648818207591638"},"p":{"t":"14648818207895483","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":523,"o":{"t":"14648818208461630"},"p":{"t":"14648818208764820","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"}]}'
  recorded_at: Thu, 02 Jun 2016 15:37:03 GMT
recorded_with: VCR 3.0.1
