---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      X-Blocks-Enabled:
      - '0'
    body:
      encoding: UTF-8
      string: '{"message":"Forbidden","payload":{"channels":["demo0-pnpres"]},"error":true,"service":"Access
        Manager","status":403}

'
  recorded_at: Thu, 02 Jun 2016 16:21:40 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      X-Blocks-Enabled:
      - '0'
    body:
      encoding: UTF-8
      string: '{"message":"Forbidden","payload":{"channels":["demo0-pnpres"]},"error":true,"service":"Access
        Manager","status":403}

'
  recorded_at: Thu, 02 Jun 2016 16:21:43 GMT
recorded_with: VCR 3.0.1
