---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-a-mock-key/channel/demo/uuid/ruby-test-uuid-client-one/data?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0&state=%7B%22some%22:%7B%22more%22:%22complexe%22,%22state%22:%5B%22it%22,%22is%22%5D%7D%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"some": {"state": ["it",
        "is"], "more": "complexe"}}, "service": "Presence"}'
  recorded_at: Wed, 25 May 2016 16:37:37 GMT
recorded_with: VCR 3.0.1
