---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v3/history/sub-key/demo/message-counts/a,b,c,d?auth=ruby-test-auth-client-one&channelsTimetoken=1231231254,1231231354,1231231454,1231231654&pnsdk=PubNub-Ruby/4.2.1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "error": false, "error_message": "", "channels": {"a":0,"c":0,"b":0,"d":0},
        "more": {"a": {"url": "/v3/history/sub-key/demo/message-counts/a?timetoken=1231231254",
        "is_more": false}, "c": {"url": "/v3/history/sub-key/demo/message-counts/c?timetoken=1231231454",
        "is_more": false}, "b": {"url": "/v3/history/sub-key/demo/message-counts/b?timetoken=1231231354",
        "is_more": false}, "d": {"url": "/v3/history/sub-key/demo/message-counts/d?timetoken=1231231654",
        "is_more": false}}}'
  recorded_at: Mon, 11 Nov 2019 18:46:26 GMT
recorded_with: VCR 5.0.0
