---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v3/history/sub-key/demo/message-counts/a?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.2.1&timetoken=1231231254&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "error": false, "error_message": "", "channels": {"a":0},
        "more": {"a": {"url": "/v3/history/sub-key/demo/message-counts/a?timetoken=1231231254",
        "is_more": false}}}'
  recorded_at: Mon, 11 Nov 2019 18:46:27 GMT
recorded_with: VCR 5.0.0
