---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel?auth=ruby-test-auth-client-one&include=custom&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"some_name"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"channel","name":"some_name","description":null,"custom":null,"updated":"2021-03-03T23:11:02.017367Z","eTag":"Adqiu+akxbGf1wE"}}'
  recorded_at: Wed, 03 Mar 2021 23:25:07 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/bob?auth=ruby-test-auth-client-one&include=custom&l_obj=0.085&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"magnum"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"bob","name":"magnum","externalId":null,"profileUrl":null,"email":null,"custom":null,"updated":"2021-03-03T23:11:37.570828Z","eTag":"AaaUxtPTpNTufg"}}'
  recorded_at: Wed, 03 Mar 2021 23:25:07 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/bob/channels?auth=ruby-test-auth-client-one&count=1&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"set":[{"channel":{"id":"channel"}}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"channel":{"id":"channel"},"updated":"2021-03-03T23:24:30.327342Z","eTag":"AY39mJKK//C0VA"}],"totalCount":1,"next":"MQ"}'
  recorded_at: Wed, 03 Mar 2021 23:25:07 GMT
recorded_with: VCR 6.0.0
