---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel?auth=ruby-test-auth-client-one&include=custom&pnsdk=PubNub-Ruby/5.4.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"some_name","custom":{"public":true},"type":"lobby","status":"open"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"channel","name":"some_name","description":null,"custom":{"public":true},"updated":"2025-01-21T10:46:24.088899Z","eTag":"d5ec4d7bdc94bc26720727fe45e6ea78"}}'
  recorded_at: Tue, 21 Jan 2025 11:12:08 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/bob?auth=ruby-test-auth-client-one&include=custom&l_obj=0.764&pnsdk=PubNub-Ruby/5.4.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"magnum","custom":{"announcer":true},"type":"admin","status":"away"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"bob","name":"magnum","externalId":null,"profileUrl":null,"email":null,"custom":{"announcer":true},"updated":"2025-01-21T10:46:24.429565Z","eTag":"45708f3570743e16664a7ab2929d1d71"}}'
  recorded_at: Tue, 21 Jan 2025 11:12:09 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/bob/channels?auth=ruby-test-auth-client-one&count=1&include=channel,channel.custom,channel.status,channel.type,custom,status,type&l_obj=0.333&pnsdk=PubNub-Ruby/5.4.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"set":[{"channel":{"id":"channel"},"custom":{"read_only":false},"type":"system","status":"locked"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"channel":{"id":"channel","name":"some_name","description":null,"type":"lobby","status":"open","custom":{"public":true},"updated":"2025-01-21T10:46:24.088899Z","eTag":"d5ec4d7bdc94bc26720727fe45e6ea78"},"type":"system","status":"locked","custom":{"read_only":false},"updated":"2025-01-21T11:12:09.552725Z","eTag":"Ad+B0saY4+GlFw"}],"totalCount":1,"next":"MQ"}'
  recorded_at: Tue, 21 Jan 2025 11:12:09 GMT
recorded_with: VCR 6.3.1
