---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/channel/demo/leave?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.15&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Tue, 22 Nov 2016 21:44:24 GMT
recorded_with: VCR 3.0.1
