---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-a-mock-key/channel/,/leave?auth=ruby-test-auth-client-one&channel-group=demo,demo&pnsdk=PubNub-Ruby/4.0.15&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Tue, 22 Nov 2016 21:44:34 GMT
recorded_with: VCR 3.0.1
