---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub_key/sub-a-mock-key/channel/demo/uuid/ruby-test-uuid?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "uuid": "ruby-test-uuid", "service": "Presence", "message":
        "OK", "payload": {}, "channel": "demo"}'
  recorded_at: Wed, 25 May 2016 16:42:01 GMT
recorded_with: VCR 3.0.1
