---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-a-mock-key/channel/demo?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"channels": {"demo": {"uuids":
        ["ruby-test-uuid-client-one"], "occupancy": 1}}, "total_channels": 1, "total_occupancy":
        1}, "service": "Presence"}'
  recorded_at: Wed, 25 May 2016 15:14:48 GMT
recorded_with: VCR 3.0.1
