---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-a-mock-key/channel/here-now-test-channel?auth=ruby-test-auth-client-one&limit=1000&pnsdk=PubNub-Ruby/5.6.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"message":"OK","occupancy":4,"service":"Presence","status":200,"uuids":["ruby-test-auth-client-two","ruby-test-auth-client-four","ruby-test-auth-client-one","ruby-test-auth-client-three"]}'
  recorded_at: Fri, 19 Sep 2025 07:18:14 GMT
recorded_with: VCR 6.3.1
