---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/demo/demo-pnpres/0/0?auth=demoish_authkey&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"13904300057822400"]'
  recorded_at: Wed, 22 Jan 2014 22:33:25 GMT
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/demo/demo-pnpres/0/13904300057822400?auth=demoish_authkey&uuid=rubytests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "join", "timestamp": 1390430006, "uuid": "3bad4360-2b9f-470f-aaf7-dac04454b1fb",
        "occupancy": 2}],"13904300068183834"]'
  recorded_at: Wed, 22 Jan 2014 22:33:26 GMT
recorded_with: VCR 2.8.0
