---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/channel-group/demo?add=demo&auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
        false}'
  recorded_at: Wed, 25 May 2016 14:37:16 GMT
recorded_with: VCR 3.0.1
