---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/audit/sub-key/sub-a-mock-key?channel-group=demo&pnsdk=PubNub-Ruby/4.1.0&signature=axIpn-gxGPNqDU56P9PzON1AF-DXu33F4zDWHEGh2fM=&timestamp=1464186895&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-a-mock-key","channel-groups":{"demo":{"r":1,"m":1,"w":1,"ttl":1440,"auths":{"ruby-authkey":{"r":1,"m":1,"w":1,"ttl":136}}}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:34:55 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-a-mock-key/channel-group/demo?add=demo&auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
        false}'
  recorded_at: Wed, 25 May 2016 14:34:56 GMT
recorded_with: VCR 3.0.1
