---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-a-mock-key/channel-group/demo?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0&remove=demo&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
        false}'
  recorded_at: Wed, 25 May 2016 14:35:12 GMT
recorded_with: VCR 3.0.1
