---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe?channel-group=foo:&pnsdk=PubNub-Ruby/3.7.0beta0&signature=sig=&timestamp=1234567890&uuid=014a9ab2-699c-4a2f-adee-6131321611b2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"service":"Access Manager","message":"Success","payload":{"channel-groups":{"foo:":{"r":1,"m":1,"w":1,"ttl":1440}},"subscribe_key":"sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe","level":"channel-group"}}'
  recorded_at: Wed, 05 Nov 2014 15:33:41 GMT
recorded_with: VCR 2.9.2
