---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/bot/0/0?channel-group=foo:foo&pnsdk=PubNub-Ruby/3.7.0beta0&uuid=ad98bd19-59e9-4f78-89b6-e34ec1fca7e2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"14151953532642307"]'
  recorded_at: Wed, 05 Nov 2014 13:49:13 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/bot/leave?channel_group=foo:foo&pnsdk=PubNub-Ruby/3.7.0beta0&uuid=ad98bd19-59e9-4f78-89b6-e34ec1fca7e2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Wed, 05 Nov 2014 13:49:14 GMT
recorded_with: VCR 2.9.2
