---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/,/0/0?channel-group=foo:foo&pnsdk=PubNub-Ruby/3.7.0beta0&uuid=8d85b2a3-6cfb-49a8-8c79-9d9547ef32b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"14151953545346313"]'
  recorded_at: Wed, 05 Nov 2014 13:49:15 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/,/leave?channel_group=foo:foo&pnsdk=PubNub-Ruby/3.7.0beta0&uuid=8d85b2a3-6cfb-49a8-8c79-9d9547ef32b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Wed, 05 Nov 2014 13:49:16 GMT
recorded_with: VCR 2.9.2
