---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/demo/namespace/foo/channel-group?pnsdk=PubNub-Ruby/3.7.0beta0&uuid=8d1ed5e2-b4ea-437e-a9bf-67a5ababf59e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "payload": {"namespace": "foo", "groups": ["foo", "new_group"]},
        "service": "channel-registry", "error": false}'
  recorded_at: Tue, 04 Nov 2014 13:08:52 GMT
recorded_with: VCR 2.9.2
