---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/demo/namespace/foo/channel-group/foo?pnsdk=PubNub-Ruby/3.7.0beta0&uuid=833d2fcd-eacf-4d39-889e-069622e10be7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "payload": {"channels": ["aaa", "bbb"], "group": "foo"}, "service": "channel-registry", "error": false}'
  recorded_at: Tue, 04 Nov 2014 13:13:32 GMT
recorded_with: VCR 2.9.2
