---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/demo/channel-group?pnsdk=PubNub-Ruby/3.7.0beta0&uuid=f06359e1-f1ef-4e2c-a53f-c7a5ada822df
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "payload": {"namespace": "", "groups": ["cg", "dk1"]}, "service": "channel-registry", "error":
        false}'
  recorded_at: Tue, 04 Nov 2014 13:04:07 GMT
recorded_with: VCR 2.9.2
