---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/demo/namespace?pnsdk=PubNub-Ruby/3.7.0beta0&uuid=784ee957-890d-4ddf-baec-75fa38b4d013
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "payload": {"sub_key": "demo", "namespaces": ["foo",
        "namespace_test"]}, "service":
        "channel-registry", "error": false}'
  recorded_at: Tue, 04 Nov 2014 12:36:57 GMT
recorded_with: VCR 2.9.2
