---
http_interactions:
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/chat/message/16701562382648731?auth=ruby-test-auth&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"type":"emotion","value":"smile"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16701562382648731", "type":
        "emotion", "uuid": "ruby-test-uuid", "value": "smile", "actionTimetoken":
        "16701656660127890"}}'
  recorded_at: Sun, 04 Dec 2022 14:54:26 GMT
recorded_with: VCR 6.0.0
