---
http_interactions:
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/chat/message/16701562382648730?auth=ruby-test-auth&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"type":"emotion","value":"smile"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{ "status": 400, "error": { "source": "actions", "message": "Request payload contained invalid input.", "details": [ { "message": "Missing field", "location": "value", "locationType": "body" } ] } }'
  recorded_at: Sun, 04 Dec 2022 14:54:26 GMT
recorded_with: VCR 6.0.0
