---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-a-mock-key?channel=demo&pnsdk=PubNub-Ruby/4.1.0&signature=P3xhzqxwFJSFthJbnByZog-U4j1S5TMFeuUxqKNgMM0=&timestamp=1462972157&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"WARNING: Access manager is not enabled for this sub key.
        Please contact help@pubnub.com","payload":{"level":"channel","subscribe_key":"sub-a-mock-key","channels":{}},"service":"Access
        Manager","status":200,"warning":true}'
  recorded_at: Wed, 11 May 2016 13:09:17 GMT
recorded_with: VCR 3.0.1
