---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-a-mock-key?channel=demo&pnsdk=PubNub-Ruby/4.1.0&signature=P3xhzqxwFJSFthJbnByZog-U4j1S5TMFeuUxqKNgMM0=&timestamp=1462972157&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"message":"Invalid Timestamp","error":true,"service":"Access Manager","status":400}
  recorded_at: Wed, 11 May 2016 13:14:24 GMT
recorded_with: VCR 3.0.1
