---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/channel-group/demo?add=demo&auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.0.0pre0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 403, "message": "Use of the channel groups API requires
        the Stream Controller add-on which is not enabled for this subscribe key.
        Login to your PubNub Dashboard Account and ADD the Stream Controller add-on.
        Contact support@pubnub.com if you require further assistance.", "service":
        "channel-registry", "error": true}'
  recorded_at: Wed, 11 May 2016 14:30:17 GMT
recorded_with: VCR 3.0.1
