---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v3/history/sub-key/sub-a-mock-key/channel/channel-1,channel-2?auth=ruby-test-auth&include_message_type=true&include_uuid=true&pnsdk=PubNub-Ruby/5.5.0&signature=v2.quFGaEboQNkHFpbv40y1tZQadAQGavFGUPUeGOyWKHE&timestamp=1756998174&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "error": false, "error_message": "", "channels": {}}'
  recorded_at: Thu, 04 Sep 2025 15:02:54 GMT
recorded_with: VCR 6.3.1
