---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/rb_space?auth=ruby-test-auth&include=custom&pnsdk=PubNub-Ruby/4.1.6&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"rb_space","name":"new_name","description":null,"custom":{"XXX":"YYYY"},"created":"2019-10-14T09:35:19.596209Z","updated":"2019-10-14T09:35:19.956248Z","eTag":"AYKsrdL029TZ1wE"}}'
  recorded_at: Mon, 14 Oct 2019 09:35:19 GMT
recorded_with: VCR 5.0.0
