---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/mg3/channels?auth=ruby-test-auth&count=1&include=custom&pnsdk=PubNub-Ruby/4.2.7&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"channel":{"id":"Chipper-channel-identifier"},"custom":{"uuid-membership-custom":"Chipper-channel-identifier-custom-data-2"},"updated":"2020-06-04T19:45:25.348644Z","eTag":"AYbepevg39XeDA"},{"channel":{"id":"Chanted-channel-identifier"},"custom":{"uuid-membership-custom":"Chanted-channel-identifier-custom-data-1"},"updated":"2020-06-04T19:45:25.357451Z","eTag":"AfW7hbzWi7rIzQE"}],"next":"Mg"}'
  recorded_at: Sun, 11 Oct 2020 21:33:13 GMT
recorded_with: VCR 6.0.0
