---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel-1/uuids?auth=ruby-test-auth&count=1&include=custom&pnsdk=PubNub-Ruby/4.2.7&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"uuid":{"id":"Shannon-uuid-identifier","name":"Shannon","externalId":null,"profileUrl":null,"email":null,"custom":{"uuid-custom1":"Shannon-custom-data-1","uuid-custom2":"Shannon-custom-data-2"},"updated":"2020-06-04T19:24:15.920189Z","eTag":"AYfwuq+u+4C01gE"},"updated":"2020-06-04T19:24:17.019024Z","eTag":"AY39mJKK//C0VA"},{"uuid":{"id":"Serhii-uuid-identifier","name":"Serhii","externalId":null,"profileUrl":null,"email":null,"custom":{"uuid-custom1":"Serhii-custom-data-1","uuid-custom2":"Serhii-custom-data-2"},"updated":"2020-06-04T19:24:15.639553Z","eTag":"AaLZ9JDs49iFGQ"},"updated":"2020-06-04T19:24:17.004471Z","eTag":"AY39mJKK//C0VA"},{"uuid":{"id":"Nicolas-uuid-identifier","name":"Nicolas","externalId":null,"profileUrl":null,"e[...]
