---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/rb_channel?auth=ruby-test-auth&include=custom&pnsdk=PubNub-Ruby/4.2.7&signature=v2.ACmKb5y3ubXTJOmsSOr9Q2f_hbX0m0Gbf52uJuLhbGM&timestamp=1602592739&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"rb_channel","name":"some_name","description":null,"custom":{"XXX":"YYYY"},"updated":"2020-10-13T12:38:14.839088Z","eTag":"AZTUtcvx6NDGLQ"}}'
  recorded_at: Tue, 13 Oct 2020 12:39:00 GMT
recorded_with: VCR 6.0.0
