---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/chat?auth=ruby-test-auth&limit=100&pnsdk=PubNub-Ruby/5.1.2&start=16702324246781850&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"messageTimetoken": "16701562382648731",
        "type": "emotion", "uuid": "ruby-test-uuid", "value": "smile", "actionTimetoken":
        "16701656660127890"}, {"messageTimetoken": "16701562382648730", "type": "emotion",
        "uuid": "ruby-test-uuid", "value": "smile", "actionTimetoken": "16702313621383172"},
        {"messageTimetoken": "15701562382648730", "type": "emotion", "uuid": "ruby-test-uuid",
        "value": "smile", "actionTimetoken": "16702314425441700"}, {"messageTimetoken":
        "10701562382648730", "type": "emotion", "uuid": "ruby-test-uuid", "value":
        "smile", "actionTimetoken": "16702314831714510"}]}'
  recorded_at: Mon, 05 Dec 2022 12:18:59 GMT
recorded_with: VCR 6.0.0
