---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/chat?auth=ruby-test-auth&limit=100&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad request
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status":400,"error":{"source":"actions","message":"Invalid Subkey"}}'
  recorded_at: Mon, 05 Dec 2022 12:18:59 GMT
recorded_with: VCR 6.0.0
