---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/objects/demo/users?auth=ruby-test-auth&include=custom&limit=5&pnsdk=PubNub-Ruby/4.2.0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":"UJNPRWCKNI","name":"VBSHVLMPEO","externalId":null,"profileUrl":null,"email":null,"custom":null,"created":"2019-08-16T08:12:02.242563Z","updated":"2019-08-16T08:12:02.242563Z","eTag":"AaeFrJLq79bxMg"},{"id":"YAJNBVKTTY","name":"SZRNRVXLGS","externalId":null,"profileUrl":null,"email":null,"custom":null,"created":"2019-08-16T08:13:26.571666Z","updated":"2019-08-16T08:13:26.571666Z","eTag":"AZG6vojJlPjuvwE"},{"id":"QTIVDQJAOJ","name":"XMRZLEINKB","externalId":null,"profileUrl":null,"email":null,"custom":null,"created":"2019-08-16T08:51:20.763757Z","updated":"2019-08-16T08:51:20.763757Z","eTag":"AcHMvZj9rpTj/wE"},{"id":"SAHHGSCVBO","name":"LRXSBWCRND","externalId":null,"profileUrl":null,"email":null,"custom":{"text":"CGJYKWBJWS","uncd":"=--+=!=="},"created":"2019-08-16T08:55:18.96962Z","updated":"2019-08-16T08:55:18.96962Z","eTag":"AeWkrM7ducOORA"},{"id":"SRMNJAHHNT","name":"XNQAYAJVQE","externalId":null,"profileUrl":null,"email":null,"custom":{"text":"TQONNXSYTR","uncd":"!!++!!-+"},"created":"2019-08-16T08:55:54.795609Z","updated":"2019-08-16T08:55:54.795609Z","eTag":"Af+0/7Gt6oKBNw"}],"next":"NQ"}'
  recorded_at: Mon, 14 Oct 2019 13:26:38 GMT
recorded_with: VCR 5.0.0
