---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/objects/demo/spaces?auth=ruby-test-auth&include=custom&limit=5&pnsdk=PubNub-Ruby/4.2.0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":"NMLWPOUHLV","name":"ZAGXJVHXZL","description":null,"custom":null,"created":"2019-08-18T12:10:01.873873Z","updated":"2019-08-18T12:10:01.873873Z","eTag":"AY6XzPic6t+aNg"},{"id":"YGVRVMOZIK","name":"FZJWFBWKZM","description":"GKRYWOMDRG","custom":null,"created":"2019-08-18T12:16:37.379839Z","updated":"2019-08-18T12:16:37.848793Z","eTag":"AdGc85ajmIDoXg"},{"id":"PXBRDJJWOI","name":"AOQFCTWRZF","description":null,"custom":{"info":"CJIOSKYG","text":"YWHVBDKUHF","uncd":"=!=?-+-?"},"created":"2019-08-18T12:16:40.302258Z","updated":"2019-08-18T12:16:40.609418Z","eTag":"AbzMs+nb/JmowgE"},{"id":"ZZHUEGVHWM","name":"YUUOXZEKDW","description":null,"custom":{"info":"RDZQEIYH","text":"MVCSBQVYEZ","uncd":"-=--?!=!"},"created":"2019-08-18T12:16:41.154746Z","updated":"2019-08-18T12:16:41.564938Z","eTag":"Ab79ksvrz77S6QE"},{"id":"OTCGLMCVEQ","name":"KLRDJADJSG","description":null,"custom":null,"created":"2019-08-18T12:16:42.062339Z","updated":"2019-08-18T12:16:42.062339Z","eTag":"Adbut8mspafpYw"}],"next":"NQ"}'
  recorded_at: Fri, 25 Oct 2019 20:35:52 GMT
recorded_with: VCR 5.0.0
