---
http_interactions:
  - request:
      method: patch
      uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/rb_channel?include=custom&pnsdk=PubNub-Ruby/5.3.3&signature=v2.YxJFOwRREFlkCGawTu7x8DVs-aBylBL0Ol5316h32Y4&timestamp=1714133102&uuid=ruby-test-uuid
      body:
        encoding: UTF-8
        string: '{"name":"some_name","custom":{"XXX":"YYYY"}}'
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"status":200,"data":{"id":"rb_channel","name":"some_name","description":null,"updated":"2024-04-26T10:27:32.517008Z","eTag":"52da053241bacffd8c951390d273e7c9"}}'
    recorded_at: Fri, 26 Apr 2024 12:05:02 GMT
  - request:
      method: get
      uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels?count=1&filter=(name==%22some_name%22)&include=custom&l_obj=0.576&limit=5&pnsdk=PubNub-Ruby/5.3.3&signature=v2.lVw9ZV0HvyHhhZ1WAU6rVFuvoZbMjuND5TwWhktrbgs&timestamp=1714133102&uuid=ruby-test-uuid
      body:
        encoding: UTF-8
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"status":200,"data":[{"id":"[\"rb_channel\"]","name":"some_name","description":null,"custom":{"XXX":"YYYY"},"updated":"2020-10-13T11:43:29.824332Z","eTag":"AZTUtcvx6NDGLQ"},{"id":"rb_channel","name":"some_name","description":null,"custom":{"XXX":"YYYY"},"updated":"2024-04-26T10:27:32.517008Z","eTag":"52da053241bacffd8c951390d273e7c9"}],"totalCount":2,"next":"Mg"}'
    recorded_at: Fri, 26 Apr 2024 12:05:03 GMT
recorded_with: VCR 6.2.0
