---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels?auth=ruby-test-auth&count=1&include=custom&limit=5&pnsdk=PubNub-Ruby/4.2.7&signature=v2.cNbbuIJL6KQzXCAT_Kb1RTv5zsmRLPRacYCFFFk6Mh0&timestamp=1602593069&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":"[\"rb_channel\"]","name":"some_name","description":null,"custom":{"XXX":"YYYY"},"updated":"2020-10-13T11:43:29.824332Z","eTag":"AZTUtcvx6NDGLQ"},{"id":"rb_channel","name":"some_name","description":null,"custom":{"XXX":"YYYY"},"updated":"2020-10-13T12:38:14.839088Z","eTag":"AZTUtcvx6NDGLQ"}],"totalCount":2,"next":"Mg"}'
  recorded_at: Tue, 13 Oct 2020 12:44:30 GMT
recorded_with: VCR 6.0.0
