---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/ruby-test-uuid/channels?auth=ruby-test-auth&count=1&include=custom&pnsdk=PubNub-Ruby/4.2.7&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"channel":{"id":"Chipper-channel-identifier","name":"Chipper","description":null,"custom":{"channel-custom1":"Chipper-custom-data-1","channel-custom2":"Chipper-custom-data-2"},"updated":"2020-06-04T19:45:29.518024Z","eTag":"AbWInIeG0uyo0gE"},"updated":"2020-06-04T19:45:31.668193Z","eTag":"AY39mJKK//C0VA"}],"totalCount":1,"next":"MQ"}'
  recorded_at: Sun, 11 Oct 2020 21:33:13 GMT
recorded_with: VCR 6.0.0
