---
http_interactions:
- request:
    method: post
    uri: http://ps.pndsn.com/v3/pam/sub-a-mock-key/grant?pnsdk=PubNub-Ruby/4.6.2&signature=v2.yZaPGX91wlB3GD03L8BdyJVNmMT6uJMsgpLitWSRPm8&timestamp=1635159481&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"ttl":60,"permissions":{"uuid":"authorized_uuid","resources":{"channels":{},"groups":{},"uuids":{}},"patterns":{"channels":{},"groups":{},"uuids":{}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"This grant contains no permissions","source":"grant","details":[{"message":"What
        are you granting?","location":"permissions","locationType":"body"}]},"service":"Access
        Manager","status":400}'
  recorded_at: Mon, 25 Oct 2021 11:50:55 GMT
recorded_with: VCR 6.0.0
