---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?channel=demo&m=1&pnsdk=PubNub-Ruby/4.0.0pre0&r=1&signature=udCXAk-z4VaU2JA2LgjVzED2LBZAKsjj86twYJoGPnY=&timestamp=1463146850&ttl=1440&uuid=ruby-test-uuid&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":1440,"channels":{"demo":{"r":1,"w":1,"m":1}}},"service":"Access
        Manager","status":200}'
  recorded_at: Fri, 13 May 2016 13:40:51 GMT
recorded_with: VCR 3.0.1
