---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/channel/demo/leave?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.0.0pre0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      X-Blocks-Enabled:
      - '0'
    body:
      encoding: UTF-8
      string: |
        {"message":"Forbidden","payload":{"channels":["demo"]},"error":true,"service":"Access Manager","status":403}
  recorded_at: Sun, 15 May 2016 10:22:17 GMT
recorded_with: VCR 3.0.1
