---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/space-1/users?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.1.6&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"remove":[{"id":"mg2"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":"user-1","created":"2019-09-29T19:13:43.964451Z","updated":"2019-09-29T19:46:28.84402Z","eTag":"Aa2CnLz+xu7b4AE"}],"next":"MQ"}'
  recorded_at: Mon, 14 Oct 2019 10:18:06 GMT
recorded_with: VCR 5.0.0
