---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/space-1/users?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.1.6&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"add":[{"id":"mg2"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":"user-1","created":"2019-09-29T19:13:43.964451Z","updated":"2019-09-29T19:46:28.84402Z","eTag":"Aa2CnLz+xu7b4AE"},{"id":"mg3","created":"2019-10-14T09:48:18.683337Z","updated":"2019-10-14T09:48:18.683337Z","eTag":"AY39mJKK//C0VA"},{"id":"mg2","created":"2019-10-14T09:49:55.923581Z","updated":"2019-10-14T09:49:55.923581Z","eTag":"AY39mJKK//C0VA"}],"next":"Mw"}'
  recorded_at: Mon, 14 Oct 2019 09:49:55 GMT
recorded_with: VCR 5.0.0
