---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v1/objects/demo/users/mg3/spaces?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.1.6&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"remove":[{"id":"space-1"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[]}'
  recorded_at: Mon, 14 Oct 2019 10:18:06 GMT
recorded_with: VCR 5.0.0
