---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v1/objects/demo/users/mg3/spaces?auth=ruby-test-auth&include=custom&pnsdk=PubNub-Ruby/4.2.0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"add":[{"id":"space-1"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":"space-1","custom":null,"created":"2019-10-25T20:35:51.93913Z","updated":"2019-10-25T20:35:51.93913Z","eTag":"AY39mJKK//C0VA"}],"next":"MQ"}'
  recorded_at: Fri, 25 Oct 2019 20:35:49 GMT
recorded_with: VCR 5.0.0
