---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/demo/channel/demo/heartbeat?auth=ruby-test-auth&heartbeat=3&l_pres=0.006&pnsdk=PubNub-Ruby/4.2.0&state=%7B%22channel%22:%7B%7D,%22group%22:%7B%7D%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence"}'
  recorded_at: Fri, 25 Oct 2019 20:35:50 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/space-1/users?auth=ruby-test-auth&include=custom&pnsdk=PubNub-Ruby/4.2.0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"remove":[{"id":"mg2"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[]}'
  recorded_at: Fri, 25 Oct 2019 20:35:50 GMT
recorded_with: VCR 5.0.0
