---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo-pnpres/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.0.0pre0&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14633926729050263","r":3},"m":[]}'
  recorded_at: Mon, 16 May 2016 09:57:53 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo-pnpres/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.0.0pre0&t=%7B%22r%22:3,%22t%22:%2214633926729050263%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14633926766332981","r":3},"m":[{"a":"5","f":0,"p":{"t":"14633926765625709","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1463392676, "uuid": "Client-cg6b7", "occupancy": 1}}]}'
  recorded_at: Mon, 16 May 2016 09:57:56 GMT
recorded_with: VCR 3.0.1
