---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.1.0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14633926729050263","r":3},"m":[]}'
  recorded_at: Mon, 16 May 2016 09:57:53 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.1.0&tr=3&tt=14633926729050263&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14633926766332981","r":3},"m":[{"a":"5","f":0,"p":{"t":"14633926765625709","r":1},"k":"sub-a-mock-key","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1463392676, "uuid": "Client-cg6b7", "occupancy": 1}}]}'
  recorded_at: Mon, 16 May 2016 09:57:56 GMT
recorded_with: VCR 3.0.1
