---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?auth=ruby-test-auth,ruby-test-auth2&g=1&j=1&m=1&pnsdk=PubNub-Ruby/4.2.7&r=1&signature=v2.cArbrFUFOCBz_Fjj9zR-w0tpWdLDZ-a-kaZUVgOGp_g&target-uuid=ruby-test-uuid,ruby-test-uuid2&timestamp=1602536269&ttl=1440&u=1&uuid=ruby-test-uuid&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"uuid","subscribe_key":"sub-a-mock-key","ttl":1440,"uuids":{"ruby-test-uuid":{"auths":{"ruby-test-auth":{"r":1,"w":1,"m":1,"d":0,"g":1,"u":1,"j":1},"ruby-test-auth2":{"r":1,"w":1,"m":1,"d":0,"g":1,"u":1,"j":1}}},"ruby-test-uuid2":{"auths":{"ruby-test-auth":{"r":1,"w":1,"m":1,"d":0,"g":1,"u":1,"j":1},"ruby-test-auth2":{"r":1,"w":1,"m":1,"d":0,"g":1,"u":1,"j":1}}}}},"service":"Access
        Manager","status":200}'
  recorded_at: Mon, 12 Oct 2020 20:57:49 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel-1/uuids?auth=ruby-test-auth&count=1&include=custom&pnsdk=PubNub-Ruby/4.2.7&signature=v2.i_46lHGBZT6dsEJ4Gn-kvC45SxvkqphTcZxXmjOuMxo&timestamp=1602536269&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"delete":[{"uuid":{"id":"mg2"}}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[],"totalCount":0}'
  recorded_at: Mon, 12 Oct 2020 20:57:50 GMT
recorded_with: VCR 6.0.0
