---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/ruby-test-uuid/channels?auth=ruby-test-auth&count=1&include=custom&pnsdk=PubNub-Ruby/4.2.7&signature=v2.dNLmNLzGLIOagE6fKai1HOCp392CQLPUfMvMPsnZ8-I&timestamp=1602536170&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"delete":[{"channel":{"id":"channel-1"}}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[],"totalCount":0}'
  recorded_at: Mon, 12 Oct 2020 20:56:11 GMT
recorded_with: VCR 6.0.0
