---
http_interactions:
- request:
    method: delete
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/chat/message/16702463528031534/action/16702463913845610?auth=ruby-test-auth&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad request
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status":400,"error":{"source":"actions","message":"Not deleting message action: wrong uuid specified"}}'
  recorded_at: Mon, 05 Dec 2022 13:20:58 GMT
recorded_with: VCR 6.0.0
