---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel-1/uuids?auth=ruby-test-auth&count=1&include=custom&pnsdk=PubNub-Ruby/4.2.7&signature=v2.lZTtaQRgLzrtk9OimIQDKVw4wQFBZ7v09NzjgQjOQVA&timestamp=1602536212&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"set":[{"uuid":{"id":"mg2"}}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"uuid":{"id":"mg2"},"custom":null,"updated":"2020-10-12T20:56:53.35663Z","eTag":"AY39mJKK//C0VA"}],"totalCount":1,"next":"MQ"}'
  recorded_at: Mon, 12 Oct 2020 20:56:54 GMT
recorded_with: VCR 6.0.0
