---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/rb_channel?auth=ruby-test-auth&include=1&pnsdk=PubNub-Ruby/4.2.7&signature=v2.5Qv0f9StzXIeVLlnHcm7GqlQK44CWqyk4VGRQixE3nY&timestamp=1602592693&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"name":"some_name","custom":{"XXX":"YYYY"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"rb_channel","name":"some_name","description":null,"updated":"2020-10-13T12:38:14.839088Z","eTag":"AZTUtcvx6NDGLQ"}}'
  recorded_at: Tue, 13 Oct 2020 12:38:15 GMT
recorded_with: VCR 6.0.0
