---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/rb_channel?auth=ruby-test-auth&include=type,status,custom&pnsdk=PubNub-Ruby/5.4.0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"name":"some_name","custom":{"XXX":"YYYY"},"type":"event","status":"completed"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"rb_channel","name":"some_name","description":null,"type":"event","status":"completed","custom":{"XXX":"YYYY"},"updated":"2025-01-20T23:53:34.477431Z","eTag":"7c2191b2e73fd57c008b2549f7afca89"}}'
  recorded_at: Tue, 21 Jan 2025 00:07:40 GMT
recorded_with: VCR 6.3.1
