---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub_key/sub-a-mock-key/channel/demo/uuid/whatever?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.1.0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "uuid": "whatever", "service": "Presence", "message":
        "OK", "payload": {}, "channel": "demo"}'
  recorded_at: Sun, 15 May 2016 10:54:36 GMT
recorded_with: VCR 3.0.1
