---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/user_mg3/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.0&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"15720307124752724","r":12},"m":[]}'
  recorded_at: Fri, 25 Oct 2019 19:20:08 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/user_mg3/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.0&t=%7B%22r%22:12,%22t%22:%2215720307124752724%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"15720312144082905","r":12},"m":[{"a":"3","f":0,"e":2,"p":{"t":"15720312143594394","r":2},"k":"sub-a-mock-key","c":"user_mg3","d":{"source":"objects","version":"1.0","event":"update","type":"user","data":{"eTag":"Ab+suYTYtJ2yjQE","id":"user_mg3","name":"name_1572031211","updated":"2019-10-25T19:20:14.283963Z"}}}]}'
  recorded_at: Fri, 25 Oct 2019 19:20:11 GMT
recorded_with: VCR 5.0.0
