---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo-pnpres,demo.*,demo.*-pnpres,demo1,demo1-pnpres/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.0.5&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14708340574849564","r":2},"m":[]}'
  recorded_at: Wed, 10 Aug 2016 13:00:57 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo-pnpres,demo.*,demo.*-pnpres,demo1,demo1-pnpres/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.0.5&t=%7B%22r%22:2,%22t%22:%2214708340574849564%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14708340581394476","r":2},"m":[{"a":"5","f":0,"p":{"t":"14708340580815003","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1-pnpres","d":{"action":
        "join", "timestamp": 1470834058, "uuid": "ruby-test-uuid", "occupancy": 1},"b":"demo1-pnpres"}]}'
  recorded_at: Wed, 10 Aug 2016 13:00:58 GMT
recorded_with: VCR 3.0.1
