---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/rb_space_4/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.0&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"15720347890178803","r":12},"m":[]}'
  recorded_at: Fri, 25 Oct 2019 20:20:13 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/rb_space_4/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.0&t=%7B%22r%22:12,%22t%22:%2215720347890178803%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"15720348183193928","r":12},"m":[{"a":"3","f":0,"e":2,"p":{"t":"15720348182752121","r":2},"k":"sub-a-mock-key","c":"rb_space_4","d":{"source":"objects","version":"1.0","event":"create","type":"membership","data":{"created":"2019-10-25T20:20:18.257654837Z","custom":null,"eTag":"AY39mJKK//C0VA","spaceId":"rb_space_4","updated":"2019-10-25T20:20:18.257654837Z","userId":"user_mg4"}}}]}'
  recorded_at: Fri, 25 Oct 2019 20:20:15 GMT
recorded_with: VCR 5.0.0
