---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/rb_space_4/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.0&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"15720348183193928","r":12},"m":[]}'
  recorded_at: Fri, 25 Oct 2019 20:22:50 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/rb_space_4/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.0&t=%7B%22r%22:12,%22t%22:%2215720348183193928%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"15720349772458715","r":12},"m":[{"a":"3","f":0,"e":2,"p":{"t":"15720349772035051","r":2},"k":"sub-a-mock-key","c":"rb_space_4","d":{"source":"objects","version":"1.0","event":"delete","type":"membership","data":{"spaceId":"rb_space_4","userId":"user_mg4"}}}]}'
  recorded_at: Fri, 25 Oct 2019 20:22:54 GMT
recorded_with: VCR 5.0.0
