---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/user_mg4/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.0&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"15720351664523185","r":12},"m":[]}'
  recorded_at: Fri, 25 Oct 2019 20:28:18 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/user_mg4/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.0&t=%7B%22r%22:12,%22t%22:%2215720351664523185%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"15720353067806096","r":12},"m":[{"a":"3","f":0,"e":2,"p":{"t":"15720353067365917","r":2},"k":"sub-a-mock-key","c":"user_mg4","d":{"source":"objects","version":"1.0","event":"delete","type":"membership","data":{"spaceId":"rb_space_4","userId":"user_mg4"}}}]}'
  recorded_at: Fri, 25 Oct 2019 20:28:24 GMT
recorded_with: VCR 5.0.0
