---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/uuid_mg3/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.7&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"16027142324251261","r":12},"m":[]}'
  recorded_at: Wed, 14 Oct 2020 22:23:52 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/uuid_mg3/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.7&t=%7B%22r%22:12,%22t%22:%2216027142324251261%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"16027142346548263","r":12},"m":[{"a":"5","f":0,"e":2,"p":{"t":"16027142346521934","r":12},"k":"sub-a-mock-key","c":"uuid_mg3","d":{"source":"objects","version":"2.0","event":"delete","type":"uuid","data":{"id":"uuid_mg3"}}}]}'
  recorded_at: Wed, 14 Oct 2020 22:23:56 GMT
recorded_with: VCR 6.0.0
