---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/rb_channel_3/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.7&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"16027064941892675","r":12},"m":[]}'
  recorded_at: Wed, 14 Oct 2020 20:14:54 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/rb_channel_3/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.7&t=%7B%22r%22:12,%22t%22:%2216027064941892675%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"16027064963067328","r":12},"m":[{"a":"5","f":0,"e":2,"p":{"t":"16027064963065890","r":12},"k":"sub-a-mock-key","c":"rb_channel_3","d":{"source":"objects","version":"2.0","event":"set","type":"channel","data":{"custom":{"XXX":"YYYY"},"eTag":"AZTUtcvx6NDGLQ","id":"rb_channel_3","name":"some_name","updated":"2020-10-14T20:14:56.301877Z"}}}]}'
  recorded_at: Wed, 14 Oct 2020 20:14:56 GMT
recorded_with: VCR 6.0.0
