---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/uuid_mg5/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.7&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"16027097119671567","r":12},"m":[]}'
  recorded_at: Wed, 14 Oct 2020 21:08:32 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/uuid_mg5/0?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.2.7&t=%7B%22r%22:12,%22t%22:%2216027097119671567%22%7D&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"16027097140960770","r":12},"m":[{"a":"5","f":0,"e":2,"p":{"t":"16027097140953196","r":12},"k":"sub-a-mock-key","c":"uuid_mg5","d":{"source":"objects","version":"2.0","event":"set","type":"membership","data":{"channel":{"id":"rb_channel_5"},"eTag":"AY39mJKK//C0VA","updated":"2020-10-14T21:08:34.090622201Z","uuid":{"id":"uuid_mg5"}}}}]}'
  recorded_at: Wed, 14 Oct 2020 21:08:34 GMT
recorded_with: VCR 6.0.0
