---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/rb_space?auth=ruby-test-auth&include=custom&pnsdk=PubNub-Ruby/4.1.6&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"id":"rb_space","name":"new_name","custom":{"XXX":"YYYY"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"rb_space","name":"new_name","description":null,"custom":{"XXX":"YYYY"},"created":"2019-10-14T10:18:08.111524Z","updated":"2019-10-14T10:18:08.408671Z","eTag":"AYKsrdL029TZ1wE"}}'
  recorded_at: Mon, 14 Oct 2019 10:18:07 GMT
recorded_with: VCR 5.0.0
