---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v1/objects/demo/users/mg?auth=ruby-test-auth&include=custom&pnsdk=PubNub-Ruby/4.1.6&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: '{"id":"mg","name":"magnum_1","custom":{"XXX":"YYYY"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"mg","name":"magnum_1","externalId":null,"profileUrl":null,"email":null,"custom":{"XXX":"YYYY"},"created":"2019-10-14T09:35:20.988734Z","updated":"2019-10-14T09:35:21.257077Z","eTag":"AYD0rZeD55aIMA"}}'
  recorded_at: Mon, 14 Oct 2019 09:35:20 GMT
recorded_with: VCR 5.0.0
