---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/uuid/ruby-test?auth=ruby-test-auth&pnsdk=PubNub-Ruby/4.0.0pre0&uuid=ruby-test-uuid
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"channels": ["some_channel"]},
        "service": "Presence"}'
  recorded_at: Thu, 12 May 2016 14:33:25 GMT
recorded_with: VCR 3.0.1
