---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v3/history/sub-key/sub-a-mock-key/channel/demo6?auth=ruby-test-auth-client-one&include_uuid=true&max=5&pnsdk=PubNub-Ruby/5.3.5&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "error": false, "error_message": "", "channels": {"demo6":[{"message":"Hello
        test world","timetoken":"17358241251780089","uuid":"ruby-test-uuid-client-one"}]}}'
  recorded_at: Thu, 02 Jan 2025 13:23:03 GMT
recorded_with: VCR 6.3.1
