---
http_interactions:
  - request:
      method: get
      uri: http://ps.pndsn.com/v3/history/sub-key/sub-a-mock-key/channel/demo10?auth=ruby-test-auth-client-one&include_custom_message_type=true&include_message_type=true&include_uuid=true&max=5&pnsdk=PubNub-Ruby/5.3.5&uuid=ruby-test-uuid-client-one
      body:
        encoding: UTF-8
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/javascript; charset="UTF-8"
      body:
        encoding: UTF-8
        string: '{"status": 200, "channels": {"demo10": [{"message": "Hello test world",
        "timetoken": "17358258318114737", "message_type": null, "uuid": "ruby-test-uuid-client-one",
        "custom_message_type": "test-message"}]}, "error_message": "", "error": false}'
    recorded_at: Thu, 02 Jan 2025 13:50:31 GMT
recorded_with: VCR 6.3.1
