---
http_interactions:
  - request:
      method: get
      uri: http://ps.pndsn.com/v3/history-with-actions/sub-key/sub-a-mock-key/channel/demo12?auth=ruby-test-auth-client-one&include_custom_message_type=true&include_message_type=true&include_uuid=true&max=5&pnsdk=PubNub-Ruby/5.3.5&uuid=ruby-test-uuid-client-one
      body:
        encoding: UTF-8
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/javascript; charset="UTF-8"
      body:
        encoding: UTF-8
        string: '{"status": 200, "channels": {"demo12": [{"timetoken": "17358267017319817",
        "uuid": "ruby-test-uuid-client-one", "message": "Hello test world", "message_type":
        null, "actions": {"emotion": {"smile": [{"uuid": "ruby-test-uuid-client-one",
        "actionTimetoken": "17358267466158610"}]}}, "custom_message_type": "test-message"}]},
        "error_message": "", "error": false}'
    recorded_at: Thu, 02 Jan 2025 14:05:46 GMT
recorded_with: VCR 6.3.1
