---
http_interactions:
  - request:
      method: get
      uri: http://ps.pndsn.com/v3/history/sub-key/sub-a-mock-key/channel/demo81,demo82?auth=ruby-test-auth-client-one&include_message_type=true&include_uuid=true&max=5&pnsdk=PubNub-Ruby/5.3.5&uuid=ruby-test-uuid-client-one
      body:
        encoding: UTF-8
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/javascript; charset="UTF-8"
      body:
        encoding: UTF-8
        string: '{"status": 200, "error": false, "error_message": "", "channels": {"demo82":[{"message":"Hello
        test world #2","timetoken":"17358270446282208","message_type":null,"uuid":"ruby-test-uuid-client-one"}],"demo81":[{"message":"Hello
        test world #1","timetoken":"17358270444202300","message_type":null,"uuid":"ruby-test-uuid-client-one"}]}}'
    recorded_at: Thu, 02 Jan 2025 14:10:44 GMT
recorded_with: VCR 6.3.1
