---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/crypto_channel_13/0/%22Hello%20world%22?ortt=%7B%22t%22:17349965573288388%7D&pnsdk=PubNub-Ruby/5.3.5&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","17349965578958470"]'
  recorded_at: Mon, 23 Dec 2024 23:29:17 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v3/history/sub-key/sub-a-mock-key/channel/crypto_channel_13?include_message_type=true&include_meta=true&include_uuid=true&pnsdk=PubNub-Ruby/5.3.5&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "error": false, "error_message": "", "channels": {"crypto_channel_13":[{"message_type":null,"message":"Hello
        world","timetoken":"17349965578958470","meta":"","uuid":"ruby-test-uuid-client-one"}]}}'
  recorded_at: Mon, 23 Dec 2024 23:29:18 GMT
recorded_with: VCR 6.3.1
