---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/channel%7Cencoded::1/0/%22Hello%20test%20world%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:17575837822786440%7D&pnsdk=PubNub-Ruby/5.5.1&seqn=1&ttl=10&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[1,"Sent","17575837829949324"]'
  recorded_at: Thu, 11 Sep 2025 09:43:02 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v3/history/sub-key/sub-a-mock-key/channel/channel%7Cencoded::1?auth=ruby-test-auth-client-one&include_message_type=true&include_uuid=true&max=5&pnsdk=PubNub-Ruby/5.5.1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "error": false, "error_message": "", "channels": {"channel%7Cencoded%3A%3A1":[{"message":"Hello
        test world","timetoken":"17575837829949324","message_type":null,"uuid":"ruby-test-uuid-client-one"}]}}'
  recorded_at: Thu, 11 Sep 2025 09:43:02 GMT
recorded_with: VCR 6.3.1
