---
http_interactions:
  - request:
      method: get
      uri: http://ps.pndsn.com/v3/history/sub-key/sub-a-mock-key/channel/demo4?auth=ruby-test-auth-client-one&include_meta=true&include_uuid=true&max=5&pnsdk=PubNub-Ruby/5.3.5&uuid=ruby-test-uuid-client-one
      body:
        encoding: UTF-8
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/javascript; charset="UTF-8"
      body:
        encoding: UTF-8
        string: '{"status": 200, "error": false, "error_message": "", "channels": {"demo4":[{"message":"rDcdNd8imQ25BHtWy03tUstKKY5q3/c0aa3tJW4pFHZiU/etMEzkIyvEpbMYZWXS","timetoken":"17358232426883204","meta":"","uuid":"ruby-test-uuid-client-one"}]}}'
    recorded_at: Thu, 02 Jan 2025 13:07:22 GMT
recorded_with: VCR 6.3.1
