---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel?auth=ruby-test-auth-client-one&include=custom&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"some_name"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"channel","name":"some_name","description":null,"custom":null,"updated":"2021-03-02T22:00:35.861751Z","eTag":"Adqiu+akxbGf1wE"}}'
  recorded_at: Wed, 03 Mar 2021 22:29:27 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/ruby-test-uuid-client-one?auth=ruby-test-auth-client-one&include=custom&l_obj=0.126&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"magnum"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"ruby-test-uuid-client-one","name":"magnum","externalId":null,"profileUrl":null,"email":null,"custom":null,"updated":"2021-03-02T21:40:51.586136Z","eTag":"AaaUxtPTpNTufg"}}'
  recorded_at: Wed, 03 Mar 2021 22:29:27 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel/uuids?auth=ruby-test-auth-client-one&count=1&l_obj=0.058&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"set":[{"uuid":{"id":"ruby-test-uuid-client-one"}}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"uuid":{"id":"bob"},"updated":"2021-03-02T22:22:02.516038Z","eTag":"AY39mJKK//C0VA"},{"uuid":{"id":"ruby-test-uuid-client-one"},"updated":"2021-03-02T22:21:21.679121Z","eTag":"AY39mJKK//C0VA"}],"totalCount":2,"next":"Mg"}'
  recorded_at: Wed, 03 Mar 2021 22:29:27 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel/uuids?auth=ruby-test-auth-client-one&count=1&l_obj=0.05&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"delete":[{"uuid":{"id":"ruby-test-uuid-client-one"}}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"uuid":{"id":"bob"},"updated":"2021-03-02T22:22:02.516038Z","eTag":"AY39mJKK//C0VA"}],"totalCount":1,"next":"MQ"}'
  recorded_at: Wed, 03 Mar 2021 22:29:27 GMT
recorded_with: VCR 6.0.0
