---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel?auth=ruby-test-auth-client-one&include=custom&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"some_name"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"channel","name":"some_name","description":null,"custom":null,"updated":"2021-03-02T22:00:35.861751Z","eTag":"Adqiu+akxbGf1wE"}}'
  recorded_at: Wed, 03 Mar 2021 22:29:28 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/uuids/bob?auth=ruby-test-auth-client-one&include=custom&l_obj=0.084&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"magnum"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"bob","name":"magnum","externalId":null,"profileUrl":null,"email":null,"custom":null,"updated":"2021-03-02T22:00:36.145632Z","eTag":"AaaUxtPTpNTufg"}}'
  recorded_at: Wed, 03 Mar 2021 22:29:28 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel/uuids?auth=ruby-test-auth-client-one&count=1&l_obj=0.047&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"set":[{"uuid":{"id":"bob"}}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"uuid":{"id":"bob"},"updated":"2021-03-02T22:22:02.516038Z","eTag":"AY39mJKK//C0VA"}],"totalCount":1,"next":"MQ"}'
  recorded_at: Wed, 03 Mar 2021 22:29:28 GMT
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel/uuids?auth=ruby-test-auth-client-one&count=1&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"delete":[{"uuid":{"id":"bob"}}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[],"totalCount":0}'
  recorded_at: Wed, 03 Mar 2021 22:29:28 GMT
recorded_with: VCR 6.0.0
