---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/chat1/0/%22Hello%20world%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16703134901278890%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703134902446486"]'
  recorded_at: Tue, 06 Dec 2022 07:58:10 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/chat1/message/16703134902446486?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion","value":"smile"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703134902446486", "type":
        "emotion", "uuid": "ruby-test-uuid-client-one", "value": "smile", "actionTimetoken":
        "16703134902798008"}}'
  recorded_at: Tue, 06 Dec 2022 07:58:10 GMT
recorded_with: VCR 6.0.0
