---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat3/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16703256813192770%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703256814415973"]'
  recorded_at: Tue, 06 Dec 2022 11:21:21 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat3/0/%22Hello%20world%202%22?auth=ruby-test-auth-client-one&l_pub=0.069&ortt=%7B%22t%22:16703256833931258%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703256834882856"]'
  recorded_at: Tue, 06 Dec 2022 11:21:23 GMT
[...]
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat3/message/16703256834882856?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703256834882856", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16703256865808830"}}'
  recorded_at: Tue, 06 Dec 2022 11:21:26 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat3/message/16703256855357236?auth=ruby-test-auth-client-one&l_msga=0.058&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703256855357236", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703256876410288"}}'
  recorded_at: Tue, 06 Dec 2022 11:21:27 GMT
[...]
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat3?auth=ruby-test-auth-client-one&end=16703256897075600&l_msga=0.061&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"mes[...]
