---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat4/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16703258645378980%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703258647051463"]'
  recorded_at: Tue, 06 Dec 2022 11:24:24 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat4/0/%22Hello%20world%202%22?auth=ruby-test-auth-client-one&l_pub=0.125&ortt=%7B%22t%22:16703258666661970%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703258667598985"]'
  recorded_at: Tue, 06 Dec 2022 11:24:26 GMT
[...]
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat4/message/16703258667598985?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703258667598985", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16703258708494010"}}'
  recorded_at: Tue, 06 Dec 2022 11:24:30 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat4/message/16703258688044927?auth=ruby-test-auth-client-one&l_msga=0.062&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703258688044927", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703258729112238"}}'
  recorded_at: Tue, 06 Dec 2022 11:24:32 GMT
[...]
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat4?auth=ruby-test-auth-client-one&end=16703258739737150&l_msga=0.05&pnsdk=PubNub-Ruby/5.1.2&start=16703258795294580&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"messageTimetoken": "16703258647051463",
        "type": "emotion_type_4", "uuid": "ruby-test-uuid-client-one", "value": "lol",
        "actionTimetoken": "16703258739737150"}, {"messageTimetoken": "16703258667598985",
        "type": "emotion_type_1", "uuid": "ruby-test-uuid-client-one", "value": "check",
        "actionTimetoken": "16703258760370280"}, {"messageTimetoken": "16703258688044927",
        "type": "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "tada",
        "actionTimetoken": "16703258771533670"}]}'
  recorded_at: Tue, 06 Dec 2022 11:24:43 GMT
recorded_with: VCR 6.0.0
