---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat8/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16703307459348622%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703307461212395"]'
  recorded_at: Tue, 06 Dec 2022 12:45:46 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat8/0/%22Hello%20world%202%22?auth=ruby-test-auth-client-one&l_pub=0.116&ortt=%7B%22t%22:16703307480543460%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703307481706612"]'
  recorded_at: Tue, 06 Dec 2022 12:45:48 GMT
[...]
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat8/message/16703307481706612?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703307481706612", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16703307513029340"}}'
  recorded_at: Tue, 06 Dec 2022 12:45:51 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat8/message/16703307492166434?auth=ruby-test-auth-client-one&l_msga=0.068&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703307492166434", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703307533831170"}}'
  recorded_at: Tue, 06 Dec 2022 12:45:53 GMT
[...]
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat8?auth=ruby-test-auth-client-one&end=16703307585896340&l_msga=0.069&limit=5&pnsdk=PubNub-Ruby/5.1.2&start=16703307743350450&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"messageTimetoken": "16703307481706612",
        "type": "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703307649086202"}, {"messageTimetoken": "16703307492166434",
        "type": "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "lol",
        "actionTimetoken": "16703307659619240"}, {"messageTimetoken": "16703307502669558",
        "type": "emotion_type_4", "uuid": "ruby-test-uuid-client-one", "value": "check",
        "actionTimetoken": "16703307681512960"}, {"messageTimetoken": "16703307461212395",
        "type": "emotion_type_1", "uuid": "ruby-test-uuid-client-one", "value": "tada",
        "actionTimetoken": "16703307702035502"}, {"messageTimetoken": "16703307481706612",
        "type": "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "firework",
        "actionTimetoken": "16703307722836918"}]}'
  recorded_at: Tue, 06 Dec 2022 12:46:19 GMT
recorded_with: VCR 6.0.0
