---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat0/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16786948472186310%7D&pnsdk=PubNub-Ruby/5.2.1&seqn=1&signature=v2.516yXrwx4_DtlCcbY5ivFAr9N1Ey4wavGTrNe0aF6zc&timestamp=1678694847&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16786948473586863"]'
  recorded_at: Mon, 13 Mar 2023 08:07:27 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat0/0/%22Hello%20world%202%22?auth=ruby-test-auth-client-one&l_pub=0.107&ortt=%7B%22t%22:16786948483312860%7D&pnsdk=PubNub-Ruby/5.2.1&seqn=2&signature=v2.u_BSRbtq9q9O3OtSHkoVBNLhsJdasjcfN8c-2fctl8g&timestamp=1678694848&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16786948484572601"]'
  recorded_at: Mon, 13 Mar 2023 08:07:28 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat0/0/%22Hello%20world%203%22?auth=ruby-test-auth-client-one&l_pub=0.1&ortt=%7B%22t%22:16786948504363442%7D&pnsdk=PubNub-Ruby/5.2.1&seqn=3&signature=v2.ZY90-Xdwy0STuPtdplw6d6uDg65oU0FFoCQTULycxUY&timestamp=1678694850&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16786948505172962"]'
  recorded_at: Mon, 13 Mar 2023 08:07:30 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0/message/16786948484572601?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.2.1&signature=v2.0oJen0mwjHjX7XYS_29ci-HczyvyGIqjmyTHB1Tg-yw&timestamp=1678694852&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16786948484572601", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16786948526127700"}}'
  recorded_at: Mon, 13 Mar 2023 08:07:32 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0/message/16786948505172962?auth=ruby-test-auth-client-one&l_msga=0.099&pnsdk=PubNub-Ruby/5.2.1&signature=v2.zVh3iDfyivk77sfMM-3IZdTE7q6rbPiF_zMQLOckjvI&timestamp=1678694854&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16786948505172962", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16786948546809640"}}'
  recorded_at: Mon, 13 Mar 2023 08:07:34 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0/message/16786948473586863?auth=ruby-test-auth-client-one&l_msga=0.071&pnsdk=PubNub-Ruby/5.2.1&signature=v2.SVi7mOJK9Tbg_K7T745lSJZXfOXZsKlz1HI9YJr6ZY0&timestamp=1678694856&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_4","value":"lol"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16786948473586863", "type":
        "emotion_type_4", "uuid": "ruby-test-uuid-client-one", "value": "lol", "actionTimetoken":
        "16786948567663970"}}'
  recorded_at: Mon, 13 Mar 2023 08:07:36 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0/message/16786948484572601?auth=ruby-test-auth-client-one&l_msga=0.074&pnsdk=PubNub-Ruby/5.2.1&signature=v2.-JyfPa7r-iEhH5ir-dCQegMS60GAkaZGTbzNmxloMvM&timestamp=1678694857&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_1","value":"check"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16786948484572601", "type":
        "emotion_type_1", "uuid": "ruby-test-uuid-client-one", "value": "check", "actionTimetoken":
        "16786948578498230"}}'
  recorded_at: Mon, 13 Mar 2023 08:07:37 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0/message/16786948505172962?auth=ruby-test-auth-client-one&l_msga=0.096&pnsdk=PubNub-Ruby/5.2.1&signature=v2.6Y0_Pu33u0O0z7SxOWa8Av_O6wL20nNkQ75NwdE4edU&timestamp=1678694858&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"tada"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16786948505172962", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "tada", "actionTimetoken":
        "16786948589540010"}}'
  recorded_at: Mon, 13 Mar 2023 08:07:38 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0/message/16786948473586863?auth=ruby-test-auth-client-one&l_msga=0.073&pnsdk=PubNub-Ruby/5.2.1&signature=v2.K7d78LA1RVh-Uav4tzxr9aiMRAabb-lYMMxntUA-cqA&timestamp=1678694860&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"firework"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16786948473586863", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "firework",
        "actionTimetoken": "16786948611070420"}}'
  recorded_at: Mon, 13 Mar 2023 08:07:41 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0/message/16786948484572601?auth=ruby-test-auth-client-one&l_msga=0.282&pnsdk=PubNub-Ruby/5.2.1&signature=v2.OkAXZRKp1q4jlrmBqOBIaAOh6c5WgqpKwn5cQoj-Wgc&timestamp=1678694863&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_4","value":"smile"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16786948484572601", "type":
        "emotion_type_4", "uuid": "ruby-test-uuid-client-one", "value": "smile", "actionTimetoken":
        "16786948633497642"}}'
  recorded_at: Mon, 13 Mar 2023 08:07:43 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0/message/16786948505172962?auth=ruby-test-auth-client-one&l_msga=0.086&pnsdk=PubNub-Ruby/5.2.1&signature=v2.YI2u3qlNgGCEYkFunzg4XIt3TEfZpi6iZX8iGduIgzM&timestamp=1678694865&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_1","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16786948505172962", "type":
        "emotion_type_1", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16786948654281700"}}'
  recorded_at: Mon, 13 Mar 2023 08:07:45 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat0?auth=ruby-test-auth-client-one&end=16786948567663970&l_msga=0.068&pnsdk=PubNub-Ruby/5.2.1&signature=v2.BBJtTopxVzcZ0pybHLNiv-LVpoG8oJZWxBLWqwf4Bfk&start=16786948611070420&timestamp=1678694866&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"messageTimetoken": "16786948473586863",
        "type": "emotion_type_4", "uuid": "ruby-test-uuid-client-one", "value": "lol",
        "actionTimetoken": "16786948567663970"}, {"messageTimetoken": "16786948484572601",
        "type": "emotion_type_1", "uuid": "ruby-test-uuid-client-one", "value": "check",
        "actionTimetoken": "16786948578498230"}, {"messageTimetoken": "16786948505172962",
        "type": "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "tada",
        "actionTimetoken": "16786948589540010"}]}'
  recorded_at: Mon, 13 Mar 2023 08:07:46 GMT
recorded_with: VCR 6.0.0
