---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat2/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16709222871781728%7D&pnsdk=PubNub-Ruby/5.2.0&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16709222874425892"]'
  recorded_at: Tue, 13 Dec 2022 09:04:47 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat2/0/%22Hello%20world%202%22?auth=ruby-test-auth-client-one&l_pub=0.182&ortt=%7B%22t%22:16709222883722670%7D&pnsdk=PubNub-Ruby/5.2.0&seqn=2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16709222885103918"]'
  recorded_at: Tue, 13 Dec 2022 09:04:48 GMT
[...]
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat2/message/16709222885103918?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.2.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16709222885103918", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16709222916584662"}}'
  recorded_at: Tue, 13 Dec 2022 09:04:51 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat2/message/16709222895841044?auth=ruby-test-auth-client-one&l_msga=0.093&pnsdk=PubNub-Ruby/5.2.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16709222895841044", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16709222937691810"}}'
  recorded_at: Tue, 13 Dec 2022 09:04:53 GMT
[...]
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat2?auth=ruby-test-auth-client-one&l_msga=0.077&limit=3&pnsdk=PubNub-Ruby/5.2.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"messageTimetoken": "16709222874425892", 
      "type": "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "firework",
      "actionTimetoken":"16709223003886880"},{"messageTimetoken":"16709222885103918",
      "type":"emotion_type_4","uuid":"ruby-test-uuid-client-one","value":"smile",
      "actionTimetoken": "16709223025326530"},{"messageTimetoken":"16709222895841044",
      "type":"emotion_type_1","uuid":"ruby-test-uuid-client-one","value": "angry",
      "actionTimetoken": "16709223046806960"}],"more":{"url":"https://pubnub.com",
      "end":16709222916584662,"start":16709222992814280,"limit":5}}'
  recorded_at: Tue, 13 Dec 2022 09:05:05 GMT
recorded_with: VCR 6.1.0
