---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat6/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16703291003998092%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703291005560698"]'
  recorded_at: Tue, 06 Dec 2022 12:18:20 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat6/0/%22Hello%20world%202%22?auth=ruby-test-auth-client-one&l_pub=0.123&ortt=%7B%22t%22:16703291025252760%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703291025991442"]'
  recorded_at: Tue, 06 Dec 2022 12:18:22 GMT
[...]
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat6/message/16703291025991442?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703291025991442", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16703291087447650"}}'
  recorded_at: Tue, 06 Dec 2022 12:18:28 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat6/message/16703291046529449?auth=ruby-test-auth-client-one&l_msga=0.056&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703291046529449", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703291098098350"}}'
  recorded_at: Tue, 06 Dec 2022 12:18:29 GMT
[...]
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat6?auth=ruby-test-auth-client-one&l_msga=0.075&limit=3&pnsdk=PubNub-Ruby/5.1.2&start=16703291191936540&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"messageTimetoken": "16703291025991442",
        "type": "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "tada",
        "actionTimetoken": "16703291140043900"}, {"messageTimetoken": "16703291046529449",
        "type": "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "firework",
        "actionTimetoken": "16703291160716930"}, {"messageTimetoken": "16703291067003385",
        "type": "emotion_type_4", "uuid": "ruby-test-uuid-client-one", "value": "smile",
        "actionTimetoken": "16703291181347870"}]}'
  recorded_at: Tue, 06 Dec 2022 12:18:52 GMT
recorded_with: VCR 6.0.0
