---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat3/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16703265495379782%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703265496773081"]'
  recorded_at: Tue, 06 Dec 2022 11:35:49 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/get-chat3/0/%22Hello%20world%202%22?auth=ruby-test-auth-client-one&l_pub=0.096&ortt=%7B%22t%22:16703265506387960%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703265507234677"]'
  recorded_at: Tue, 06 Dec 2022 11:35:50 GMT
[...]
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat3/message/16703265507234677?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703265507234677", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16703265548376160"}}'
  recorded_at: Tue, 06 Dec 2022 11:35:54 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat3/message/16703265527769190?auth=ruby-test-auth-client-one&l_msga=0.049&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703265527769190", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703265558920860"}}'
  recorded_at: Tue, 06 Dec 2022 11:35:55 GMT
[...]
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/get-chat3?auth=ruby-test-auth-client-one&l_msga=0.056&pnsdk=PubNub-Ruby/5.1.2&start=16703265631443470&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"messageTimetoken": "16703265507234677",
        "type": "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry",
        "actionTimetoken": "16703265548376160"}, {"messageTimetoken": "16703265527769190",
        "type": "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703265558920860"}, {"messageTimetoken": "16703265496773081",
        "type": "emotion_type_4", "uuid": "ruby-test-uuid-client-one", "value": "lol",
        "actionTimetoken": "16703265579448130"}, {"messageTimetoken": "16703265507234677",
        "type": "emotion_type_1", "uuid": "ruby-test-uuid-client-one", "value": "check",
        "actionTimetoken": "16703265590171412"}, {"messageTimetoken": "16703265527769190",
        "type": "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "tada",
        "actionTimetoken": "16703265610761940"}]}'
  recorded_at: Tue, 06 Dec 2022 11:36:08 GMT
recorded_with: VCR 6.0.0
