---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/remove-chat31/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16703446400451300%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703446401352727"]'
  recorded_at: Tue, 06 Dec 2022 16:37:20 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/remove-chat31/message/16703446401352727?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703446401352727", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16703446421978220"}}'
  recorded_at: Tue, 06 Dec 2022 16:37:22 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/remove-chat31/message/16703446401352727?auth=ruby-test-auth-client-one&l_msga=0.086&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703446401352727", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703446442817130"}}'
  recorded_at: Tue, 06 Dec 2022 16:37:24 GMT
[...]
- request:
    method: delete
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/remove-chat31/message/16703446401352727/action/16703446442817130?auth=ruby-test-auth-client-one&l_msga=0.106&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {}}'
  recorded_at: Tue, 06 Dec 2022 16:37:28 GMT
recorded_with: VCR 6.0.0
