---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/publish/pub-a-mock-key/sub-a-mock-key/0/remove-chat11/0/%22Hello%20world%201%22?auth=ruby-test-auth-client-one&ortt=%7B%22t%22:16703443391179530%7D&pnsdk=PubNub-Ruby/5.1.2&seqn=1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","16703443393027908"]'
  recorded_at: Tue, 06 Dec 2022 16:32:19 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/remove-chat11/message/16703443393027908?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_2","value":"angry"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703443393027908", "type":
        "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry", "actionTimetoken":
        "16703443413571190"}}'
  recorded_at: Tue, 06 Dec 2022 16:32:21 GMT
- request:
    method: post
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/remove-chat11/message/16703443393027908?auth=ruby-test-auth-client-one&l_msga=0.067&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"type":"emotion_type_3","value":"surprised"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {"messageTimetoken": "16703443393027908", "type":
        "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703443424397308"}}'
  recorded_at: Tue, 06 Dec 2022 16:32:22 GMT
[...]
- request:
    method: delete
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/remove-chat11/message/16703443393027908/action/16703443435052190?auth=ruby-test-auth-client-one&l_msga=0.056&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": {}}'
  recorded_at: Tue, 06 Dec 2022 16:32:25 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v1/message-actions/sub-a-mock-key/channel/remove-chat11?auth=ruby-test-auth-client-one&l_msga=0.349&pnsdk=PubNub-Ruby/5.1.2&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "data": [{"messageTimetoken": "16703443393027908",
        "type": "emotion_type_2", "uuid": "ruby-test-uuid-client-one", "value": "angry",
        "actionTimetoken": "16703443413571190"}, {"messageTimetoken": "16703443393027908",
        "type": "emotion_type_3", "uuid": "ruby-test-uuid-client-one", "value": "surprised",
        "actionTimetoken": "16703443424397308"}]}'
  recorded_at: Tue, 06 Dec 2022 16:32:25 GMT
recorded_with: VCR 6.0.0
