---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?auth=ruby-authkey&channel=demo&m=1&pnsdk=PubNub-Ruby/4.1.0&r=0&signature=3kn-WFPkUCXzJBmiCD4nU_0I-gY-KciWK0UeU-oa9Ms=&timestamp=1464187397&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-a-mock-key","ttl":1440,"channel":"demo","auths":{"ruby-authkey":{"r":0,"w":1,"m":1}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:43:17 GMT
recorded_with: VCR 3.0.1
