---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?channel=demo&d=1&m=1&pnsdk=PubNub-Ruby/4.2.7&r=1&signature=6_P9JKXY2G7gIdjuRsAhAgcHOcp5tgZt1VUiILsyim8=&timestamp=1601665764&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-a-mock-key","ttl":1440,"channels":{"demo":{"r":1,"w":1,"m":1,"d":1,"g":0,"u":0,"j":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Fri, 02 Oct 2020 19:09:24 GMT
recorded_with: VCR 6.0.0
