---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?channel=demo&d=0&m=1&pnsdk=PubNub-Ruby/4.2.7&r=1&signature=v2.e1xGxWqMtgai9T7lewHA0A3LiTaBHM7keT6L6sw0F08&timestamp=1602781742&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-a-mock-key","ttl":1440,"channels":{"demo":{"r":1,"w":1,"m":1,"d":0,"g":0,"u":0,"j":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Thu, 15 Oct 2020 17:09:02 GMT
[...]
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?channel=demo&d=0&m=1&pnsdk=PubNub-Ruby/4.2.7&r=1&signature=v2.DxXm4m23VNNQJYXv_Ek4djm08u59RzUwNhUs8Ua_iX4&timestamp=1602781743&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-3601a400-fc4f-11e5-ba5f-0619f8945a4f","ttl":1440,"channels":{"demo":{"r":1,"w":1,"m":1,"d":0,"g":0,"u":0,"j":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Thu, 15 Oct 2020 17:09:03 GMT
[...]
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?channel=demo&d=0&m=1&pnsdk=PubNub-Ruby/4.2.7&r=1&signature=v2.DxXm4m23VNNQJYXv_Ek4djm08u59RzUwNhUs8Ua_iX4&timestamp=1602781743&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-3601a400-fc4f-11e5-ba5f-0619f8945a4f","ttl":1440,"channels":{"demo":{"r":1,"w":1,"m":1,"d":0,"g":0,"u":0,"j":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Thu, 15 Oct 2020 17:09:03 GMT
recorded_with: VCR 6.0.0
