---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?auth=demo&d=0&g=1&m=1&pnsdk=PubNub-Ruby/4.4.0&r=1&signature=v2.52XSSWDJICI8GEBq9Da-KfMLIHDVRF4YQdUYcGjR4V0&target-uuid=bob,john&timestamp=1605102472&ttl=1440&u=1&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"uuid","subscribe_key":"sub-a-mock-key","ttl":1440,"uuids":{"bob":{"auths":{"demo":{"r":1,"w":1,"m":1,"d":0,"g":1,"u":1,"j":0}}},"john":{"auths":{"demo":{"r":1,"w":1,"m":1,"d":0,"g":1,"u":1,"j":0}}}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 11 Nov 2020 13:47:52 GMT
recorded_with: VCR 6.0.0
