---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-a-mock-key?auth=ruby-authkey&channel=demo&m=0&pnsdk=PubNub-Ruby/4.1.0&r=0&signature=Q19nXim0aI4zLLFLHsPIxx22yjnhbLPxYOgRTSZHuu8=&timestamp=1464188011&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-a-mock-key","ttl":1440,"channel":"demo","auths":{"ruby-authkey":{"r":0,"w":1,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:53:32 GMT
recorded_with: VCR 3.0.1
