---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=ruby-authkey&channel-group=demo&m=0&pnsdk=PubNub-Ruby/4.0.0&r=1&signature=1TbT15ZVjbCe3zXIEujXHf7Vt_V9cWl1bwCgNvUYNP0=&timestamp=1464188615&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group+auth","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":1440,"channel-groups":"demo","auths":{"ruby-authkey":{"r":1,"w":1,"m":0}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 15:03:35 GMT
recorded_with: VCR 3.0.1
