---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=ruby-authkey&m=0&pnsdk=PubNub-Ruby/4.0.0&r=0&signature=tGwrqPgH8Iqh0lPr6xBY_VfiLVSEAQU_-dJksHK9W7g=&timestamp=1464189148&ttl=0&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Auth-only grants are reserved for future use","error":true,"service":"Access
        Manager","status":400}

'
  recorded_at: Wed, 25 May 2016 15:12:29 GMT
recorded_with: VCR 3.0.1
