---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-a-mock-key?auth=ruby-authkey&m=0&pnsdk=PubNub-Ruby/4.1.0&r=0&signature=aLUOHXPRJHbUAe0pCcFGeFHo4Ki2zVE6MptUCqV_DRQ=&timestamp=1464189151&ttl=300&uuid=ruby-test-uuid-client-one&w=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Auth-only grants are reserved for future use","error":true,"service":"Access
        Manager","status":400}

'
  recorded_at: Wed, 25 May 2016 15:12:31 GMT
recorded_with: VCR 3.0.1
