---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=ruby-authkey&m=1&pnsdk=PubNub-Ruby/4.0.0&r=0&signature=JOlBs4A1E_5XhjBcFhSAt53Nu-y_bH3BElAOdQu5CcU=&timestamp=1464189117&ttl=300&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Auth-only grants are reserved for future use","error":true,"service":"Access
        Manager","status":400}

'
  recorded_at: Wed, 25 May 2016 15:11:57 GMT
recorded_with: VCR 3.0.1
