---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?auth=ruby-authkey&m=1&pnsdk=PubNub-Ruby/4.1.0&r=1&signature=XG26TH-5eDTHYED9TYV8pGqdr2Svm8Wofm-YUWR6KwA=&timestamp=1464189252&ttl=1440&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Auth-only grants are reserved for future use","error":true,"service":"Access
        Manager","status":400}

'
  recorded_at: Wed, 25 May 2016 15:14:12 GMT
recorded_with: VCR 3.0.1
