---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-a-mock-key?auth=ruby-authkey&m=1&pnsdk=PubNub-Ruby/4.1.0&r=1&signature=8duJ7clpFzVnaqbwOn7TzcoMD9CCPIjelhRVvlRaXPE=&timestamp=1464189234&ttl=0&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Auth-only grants are reserved for future use","error":true,"service":"Access
        Manager","status":400}

'
  recorded_at: Wed, 25 May 2016 15:13:54 GMT
recorded_with: VCR 3.0.1
