---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-a-mock-key?auth=ruby-authkey&m=1&pnsdk=PubNub-Ruby/4.1.0&r=1&signature=JG-6DIaubnCz1kcZRB2p5M5DupKj2xjqjoJwqLx0920=&timestamp=1464189043&ttl=300&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Auth-only grants are reserved for future use","error":true,"service":"Access
        Manager","status":400}

'
  recorded_at: Wed, 25 May 2016 15:10:44 GMT
recorded_with: VCR 3.0.1
