---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=ruby-authkey&channel=demo&m=1&pnsdk=PubNub-Ruby/4.0.0&r=0&signature=lBXGq4CAa_rnPR8if1gB_a9Lv1q58vn-YJ_eYqzaaNA=&timestamp=1464187546&ttl=300&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":300,"channel":"demo","auths":{"ruby-authkey":{"r":0,"w":1,"m":1}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:45:46 GMT
recorded_with: VCR 3.0.1
