---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?channel=demo&m=1&pnsdk=PubNub-Ruby/4.0.0&r=0&signature=HnGUnTwm2Zsuqvhd-0HR0YVivOJL_n2TMfn7e8x4XhY=&timestamp=1464188020&ttl=0&uuid=ruby-test-uuid-client-one&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","ttl":0,"channels":{"demo":{"r":0,"w":1,"m":1}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:53:40 GMT
recorded_with: VCR 3.0.1
