---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe?channel=demo,demo-pnpres&pnsdk=PubNub-Ruby/3.6.7&r=1&signature=kdDh/sFC3rSR%2Bt5AEymIc57d1velIr562V7usa5M4k0=&timestamp=1234567890&ttl=1440&uuid=f0ac67ef-912f-4797-be67-a59745107306&w=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"service":"Access Manager","message":"Success","payload":{"channels":{"demo":{"r":1,"w":1},"demo-pnpres":{"r":1,"w":1}},"subscribe_key":"sub-c-53c3d30a-4135-11e3-9970-02ee2ddab7fe","ttl":1440,"level":"channel"}}'
  recorded_at: Fri, 17 Oct 2014 12:32:52 GMT
recorded_with: VCR 2.9.2
