---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/audit/sub-key/sub-a-mock-key?auth=key&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0&signature=47CV5KR4pEoYKTS6_q4y3vXOjzq9DYC9dRpWz-4glzM=&timestamp=1464187179&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group+auth","subscribe_key":"sub-a-mock-key","channel-group":"demo","auths":{}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:39:39 GMT
recorded_with: VCR 3.0.1
