---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=key&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0&signature=DYgPQnA92yetJq9KbQxSsLhRGHlaNHnjSRYIvLPSitA=&timestamp=1464186852&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group+auth","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","channel-group":"demo","auths":{}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:34:12 GMT
recorded_with: VCR 3.0.1
