---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-a-mock-key?auth=key&pnsdk=PubNub-Ruby/4.1.0&signature=u1l9yustVc-pGEn0HlJOhIS92jZZ-t0f5pUxHtnY96c=&timestamp=1464186860&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-a-mock-key","channels":{"demo":{"r":1,"m":1,"w":1,"ttl":1440,"auths":{"ruby-authkey":{"r":1,"m":1,"w":0,"ttl":287},"ADMIN-hb89skz71v":{"r":1,"m":0,"w":1,"ttl":9}}},"demo-pnpres":{"r":1,"m":1,"w":1,"auths":{"ADMIN-hb89skz71v":{"r":1,"m":0,"w":1,"ttl":9}}},"demo.*":{"r":1,"m":1,"w":1,"ttl":1440}},"objects":{},"channel-groups":{"demo":{"r":1,"m":1,"w":1,"ttl":1441,"auths":{"ruby-authkey":{"r":1,"m":1,"w":1,"ttl":137}}}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:34:21 GMT
recorded_with: VCR 3.0.1
