---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=key&channel=demo&pnsdk=PubNub-Ruby/4.0.0&signature=xsUvKRUuuN2uvZxPusRjwUoR8A_aAlGrVad6mwTVWBg=&timestamp=1464186868&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","channel":"demo","auths":{}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:34:29 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=key&channel=demo&pnsdk=PubNub-Ruby/4.0.0&signature=PlwgC4ojABQU71rVSzQOhaEv0a1js_p-9YJfx6W8Yvw=&timestamp=1464186869&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","channel":"demo","auths":{}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:34:29 GMT
recorded_with: VCR 3.0.1
