---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=key&channel=demo&pnsdk=PubNub-Ruby/4.0.0&signature=5ZfjOxWir6bGaGkEP4eUH-767wTFN_ssDaoWep4Hkb0=&timestamp=1464697015&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","channel":"demo","auths":{}},"service":"Access
        Manager","status":200}'
  recorded_at: Tue, 31 May 2016 12:16:55 GMT
recorded_with: VCR 3.0.1
