---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?auth=key&pnsdk=PubNub-Ruby/4.0.0&signature=7v-HexlXeKhnJ2BajRS2p97U4d6FFGtMakx1JrTMV3M=&timestamp=1464187031&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","channels":{"demo":{"r":1,"m":1,"w":1,"ttl":1440,"auths":{"ruby-authkey":{"r":1,"m":1,"w":1,"ttl":1440},"ADMIN-hb89skz71v":{"r":1,"m":0,"w":1,"ttl":6}}},"demo-pnpres":{"r":1,"m":1,"w":1,"auths":{"ADMIN-hb89skz71v":{"r":1,"m":0,"w":1,"ttl":6}}},"demo.*":{"r":1,"m":1,"w":1,"ttl":1440}},"objects":{},"channel-groups":{"demo":{"r":1,"m":1,"w":1,"ttl":1440,"auths":{"ruby-authkey":{"r":1,"m":1,"w":1,"ttl":134}}}}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:37:12 GMT
recorded_with: VCR 3.0.1
