---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/audit/sub-key/sub-a-mock-key?auth=key&channel=demo&pnsdk=PubNub-Ruby/4.1.0&signature=LZ3T5rp8BCnQRVBA6fsmU6l_UDgjLjVHyXp3tlou1zY=&timestamp=1464187023&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-a-mock-key","channel":"demo","auths":{}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:37:04 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/audit/sub-key/sub-a-mock-key?auth=key&channel=demo&pnsdk=PubNub-Ruby/4.1.0&signature=29x7wwIMVzIsnIo-pb6Yj0cxRMM1V_IkjePBFvQ169w=&timestamp=1464187024&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"user","subscribe_key":"sub-a-mock-key","channel":"demo","auths":{}},"service":"Access
        Manager","status":200}'
  recorded_at: Wed, 25 May 2016 14:37:04 GMT
recorded_with: VCR 3.0.1
