---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/auth/audit/sub-key/sub-a-mock-key?channel-group=demo&pnsdk=PubNub-Ruby/4.1.0&signature=WCmluR0sUF-xGs8gksI2ZQU6w5VxZ55BhK3bo8jV1Bk=&timestamp=1464697105&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-a-mock-key","channel-groups":{"demo":{"r":1,"m":1,"w":1,"ttl":1440}}},"service":"Access
        Manager","status":200}'
  recorded_at: Tue, 31 May 2016 12:18:25 GMT
recorded_with: VCR 3.0.1
