---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/auth/audit/sub-key/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f?channel-group=demo&pnsdk=PubNub-Ruby/4.0.0&signature=EQJKSlERla2RqqCa8ieN1-5yZcskBULnIz6YUqKSq8Q=&timestamp=1464697104&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","channel-groups":{"demo":{"r":1,"m":1,"w":1,"ttl":1439}}},"service":"Access
        Manager","status":200}'
  recorded_at: Tue, 31 May 2016 12:18:24 GMT
recorded_with: VCR 3.0.1
