---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654011171932578","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:51:59 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:12,%22t%22:%2214654011171932578%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654011209518802","r":12},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":269,"o":{"t":"14654011191410182"},"p":{"t":"14654011191733527","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654011197538641","r":1},"k":"sub-a-mock-key","c":"demo1-pnpres","d":{"action":
        "join", "timestamp": 1465401119, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654011202970938","r":2},"k":"sub-a-mock-key","c":"demo0-pnpres","d":{"action":
        "leave", "timestamp": 1465401120, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654011207114759","r":1},"k":"sub-a-mock-key","c":"demo1-pnpres","d":{"action":
        "leave", "timestamp": 1465401120, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654011209082537","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401120, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654011209082537","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401120, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"}]}'
  recorded_at: Wed, 08 Jun 2016 15:52:02 GMT
recorded_with: VCR 3.0.1
