---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654002964249010","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:38:18 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&tr=3&tt=14654002964249010&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654002993847139","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":185,"o":{"t":"14654002981381672"},"p":{"t":"14654002981700316","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"test_message","b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":187,"o":{"t":"14654002981978948"},"p":{"t":"14654002982302999","r":12},"k":"sub-a-mock-key","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14654002993460928","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465400299, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654002993460928","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465400299, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"}]}'
  recorded_at: Wed, 08 Jun 2016 15:38:21 GMT
recorded_with: VCR 3.0.1
