---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654010358645909","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:50:37 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:12,%22t%22:%2214654010358645909%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654010389002071","r":12},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":185,"o":{"t":"14654010376178630"},"p":{"t":"14654010376496866","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.ruby","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":187,"o":{"t":"14654010376784050"},"p":{"t":"14654010377109344","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo"},{"a":"5","f":0,"p":{"t":"14654010385988848","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465401038, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654010385988848","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465401038, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654010388537720","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401038, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654010388537720","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401038, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"}]}'
  recorded_at: Wed, 08 Jun 2016 15:50:40 GMT
recorded_with: VCR 3.0.1
