---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654010389002071","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:50:40 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:12,%22t%22:%2214654010389002071%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654010421069227","r":12},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":189,"o":{"t":"14654010408372008"},"p":{"t":"14654010408694343","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":191,"o":{"t":"14654010408978870"},"p":{"t":"14654010409371375","r":12},"k":"sub-a-mock-key","c":"demo","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo"},{"a":"5","f":0,"p":{"t":"14654010417024859","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465401041, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654010417024859","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465401041, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654010420596836","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401042, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654010420596836","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401042, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"}]}'
  recorded_at: Wed, 08 Jun 2016 15:50:43 GMT
recorded_with: VCR 3.0.1
