---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654003184530582","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:38:40 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:3,%22t%22:%2214654003184530582%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654003219967253","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":209,"o":{"t":"14654003208017412"},"p":{"t":"14654003208338357","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"test_message","b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654003219579085","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465400321, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654003219579085","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465400321, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"}]}'
  recorded_at: Wed, 08 Jun 2016 15:38:43 GMT
recorded_with: VCR 3.0.1
