---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654002801274476","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:38:01 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:3,%22t%22:%2214654002801274476%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654002829503745","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":171,"o":{"t":"14654002819718348"},"p":{"t":"14654002820036337","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"test_message","b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":173,"o":{"t":"14654002820328598"},"p":{"t":"14654002820651009","r":12},"k":"sub-a-mock-key","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14654002828006000","r":1},"k":"sub-a-mock-key","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1465400282, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:38:05 GMT
recorded_with: VCR 3.0.1
