---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres,demo0,demo0-pnpres,demo1,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654014094364149","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:56:51 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo.*-pnpres,demo0,demo0-pnpres,demo1,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:3,%22t%22:%2214654014094364149%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654014140555669","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":703,"o":{"t":"14654014117134268"},"p":{"t":"14654014117455965","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo0"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":705,"o":{"t":"14654014117744170"},"p":{"t":"14654014118068545","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo1"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":707,"o":{"t":"14654014118360642"},"p":{"t":"14654014118689473","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.ruby","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654014125723136","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0-pnpres","d":{"action":
        "join", "timestamp": 1465401412, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654014125772772","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465401412, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654014125772772","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465401412, "uuid": "ruby-test-uuid-client-two", "occ[...]
