---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654010748838079","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:51:16 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:12,%22t%22:%2214654010748838079%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654010780805783","r":12},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":227,"o":{"t":"14654010768262852"},"p":{"t":"14654010768597981","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":229,"o":{"t":"14654010768875830"},"p":{"t":"14654010769197822","r":12},"k":"sub-a-mock-key","c":"demo","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo"},{"a":"5","f":0,"p":{"t":"14654010774743504","r":2},"k":"sub-a-mock-key","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1465401077, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo-pnpres"},{"a":"5","f":0,"p":{"t":"14654010780353958","r":2},"k":"sub-a-mock-key","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1465401078, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:51:19 GMT
recorded_with: VCR 3.0.1
