---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654010855294415","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:51:26 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:12,%22t%22:%2214654010855294415%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654010874354462","r":12},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":237,"o":{"t":"14654010869333660"},"p":{"t":"14654010869657907","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654010873871490","r":2},"k":"sub-a-mock-key","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1465401087, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:51:30 GMT
recorded_with: VCR 3.0.1
