---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres,demo0,demo0-pnpres,demo1,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654014076286995","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:56:47 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*,demo.*-pnpres,demo0,demo0-pnpres,demo1,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:3,%22t%22:%2214654014076286995%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654014094364149","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":701,"o":{"t":"14654014078903072"},"p":{"t":"14654014079222820","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654014093971052","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401409, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654014093971052","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401409, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":697,"o":{"t":"14654014077654678"},"p":{"t":"14654014077982507","r":12},"k":"sub-a-mock-key","c":"demo0","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo0"},{"a":"5","f":0,"p":{"t":"14654014086408555","r":1},"k":"sub-a-mock-key","c":"demo0-pnpres","d":{"action":
        "join", "timestamp": 1465401408, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654014090416885","r":2},"k":"sub-a-mock-key","c":"demo0-pnpres","d":{"action":
        "leave", "timestamp": 1465401409, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo0-pnpres"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":699,"o":{"t":"14654014078270158"},"p":{"t":"14654014078603674","r":12},"k":"sub-a-mock-key","c":"demo1","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo1"},{"a":"5","f":0,"p":{"t":"14654014085670300","r":1},"k":"sub-a-mock-key","c":"demo1-pnpres","d":{"action":
        "join", "timestamp": 1465401408, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo1-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:56:50 GMT
recorded_with: VCR 3.0.1
