---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654002312864945","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:37:13 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:3,%22t%22:%2214654002312864945%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654002349857437","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":119,"o":{"t":"14654002331259200"},"p":{"t":"14654002331584842","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14654002343785875","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0-pnpres","d":{"action":
        "leave", "timestamp": 1465400234, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654002347479585","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1-pnpres","d":{"action":
        "leave", "timestamp": 1465400234, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654002348181280","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1-pnpres","d":{"action":
        "join", "timestamp": 1465400234, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654002349470210","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465400234, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo.*-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:37:16 GMT
recorded_with: VCR 3.0.1
