---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo,demo.*-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654001691759089","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:36:11 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo,demo.*-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:3,%22t%22:%2214654001691759089%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654001725551947","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":57,"o":{"t":"14654001712184992"},"p":{"t":"14654001712505130","r":12},"k":"sub-a-mock-key","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14654001716009938","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465400171, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*-pnpres"},{"a":"5","f":0,"p":{"t":"14654001724775074","r":1},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465400172, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo.*-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:36:14 GMT
recorded_with: VCR 3.0.1
