---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654001775510359","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:36:17 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:3,%22t%22:%2214654001775510359%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654001789929019","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":61,"o":{"t":"14654001776874040"},"p":{"t":"14654001777194291","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":63,"o":{"t":"14654001777466480"},"p":{"t":"14654001777783403","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14654001788994250","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1465400178, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo-pnpres"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":61,"o":{"t":"14654001776874040"},"p":{"t":"14654001777194291","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":63,"o":{"t":"14654001777466480"},"p":{"t":"14654001777783403","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"}]}'
  recorded_at: Wed, 08 Jun 2016 15:36:20 GMT
recorded_with: VCR 3.0.1
