---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654011909433579","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:53:12 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:12,%22t%22:%2214654011909433579%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654011935193649","r":12},"m":[{"a":"5","f":0,"p":{"t":"14654011933205022","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401192, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*-pnpres"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":343,"o":{"t":"14654011934258712"},"p":{"t":"14654011934582858","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":343,"o":{"t":"14654011934258712"},"p":{"t":"14654011934582858","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":345,"o":{"t":"14654011934867232"},"p":{"t":"14654011935189435","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":345,"o":{"t":"14654011934867232"},"p":{"t":"14654011935189435","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo"}]}'
  recorded_at: Wed, 08 Jun 2016 15:53:15 GMT
recorded_with: VCR 3.0.1
