---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654008324857524","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:47:13 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:12,%22t%22:%2214654008324857524%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654008357807567","r":12},"m":[{"a":"5","f":0,"p":{"t":"14654008347963444","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0-pnpres","d":{"action":
        "join", "timestamp": 1465400834, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654008348210365","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465400834, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*-pnpres"},{"a":"5","f":0,"p":{"t":"14654008350529469","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0-pnpres","d":{"action":
        "leave", "timestamp": 1465400835, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654008353635584","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1-pnpres","d":{"action":
        "leave", "timestamp": 1465400835, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654008357275896","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465400835, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:47:17 GMT
recorded_with: VCR 3.0.1
