---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654007747905270","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:46:14 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo.*-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:3,%22t%22:%2214654007747905270%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654007779030020","r":3},"m":[{"a":"5","f":0,"p":{"t":"14654007761695111","r":1},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465400776, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1}},{"a":"5","f":0,"p":{"t":"14654007778640389","r":2},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465400777, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2}}]}'
  recorded_at: Wed, 08 Jun 2016 15:46:18 GMT
recorded_with: VCR 3.0.1
