---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*,demo0,demo1/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654005650284647","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:42:47 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*,demo0,demo1/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:12,%22t%22:%2214654005650284647%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654005683872237","r":12},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":467,"o":{"t":"14654005670187230"},"p":{"t":"14654005670504808","r":12},"k":"sub-a-mock-key","c":"demo0","d":"test_message","b":"demo0"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":469,"o":{"t":"14654005670772710"},"p":{"t":"14654005671088842","r":12},"k":"sub-a-mock-key","c":"demo1","d":"test_message","b":"demo1"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":471,"o":{"t":"14654005671361868"},"p":{"t":"14654005671677626","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"test_message","b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":473,"o":{"t":"14654005671949188"},"p":{"t":"14654005672301996","r":12},"k":"sub-a-mock-key","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14654005683427409","r":2},"k":"sub-a-mock-key","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1465400568, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:42:50 GMT
recorded_with: VCR 3.0.1
