---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*,demo0,demo1/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654013236893332","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:55:25 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo-pnpres,demo.*,demo0,demo1/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:3,%22t%22:%2214654013236893332%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654013268635013","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":511,"o":{"t":"14654013253770658"},"p":{"t":"14654013254096471","r":12},"k":"sub-a-mock-key","c":"demo0","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo0"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":513,"o":{"t":"14654013254387068"},"p":{"t":"14654013254713703","r":12},"k":"sub-a-mock-key","c":"demo1","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo1"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":515,"o":{"t":"14654013254994838"},"p":{"t":"14654013255337349","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"+P/LbbzCa1zk0sDK1i6/69V4ROQ8h5MxYRFCpWPlmRM=","b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654013264062860","r":1},"k":"sub-a-mock-key","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1465401326, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo-pnpres"},{"a":"5","f":0,"p":{"t":"14654013267669633","r":1},"k":"sub-a-mock-key","c":"demo-pnpres","d":{"action":
        "leave", "timestamp": 1465401326, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:55:28 GMT
recorded_with: VCR 3.0.1
