---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo0,demo1/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654006789003083","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:44:39 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo.*,demo0,demo1/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:12,%22t%22:%2214654006789003083%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654006803975247","r":12},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":719,"o":{"t":"14654006791536770"},"p":{"t":"14654006791855896","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.ruby","d":"test_message","b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654006803125541","r":1},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465400680, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":715,"o":{"t":"14654006790330740"},"p":{"t":"14654006790649570","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0","d":"test_message","b":"demo0"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":717,"o":{"t":"14654006790926840"},"p":{"t":"14654006791250521","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1","d":"test_message","b":"demo1"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":721,"o":{"t":"14654006792144498"},"p":{"t":"14654006792463426","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"test_message","b":"demo"}]}'
  recorded_at: Wed, 08 Jun 2016 15:44:42 GMT
recorded_with: VCR 3.0.1
