---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo0-pnpres,demo1-pnpres,demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654003674926674","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:39:28 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo0-pnpres,demo1-pnpres,demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:3,%22t%22:%2214654003674926674%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654003699192763","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":257,"o":{"t":"14654003680127270"},"p":{"t":"14654003680453354","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"test_message","b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654003680579901","r":2},"k":"sub-a-mock-key","c":"demo0-pnpres","d":{"action":
        "join", "timestamp": 1465400368, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo0-pnpres"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":259,"o":{"t":"14654003680738320"},"p":{"t":"14654003681058335","r":12},"k":"sub-a-mock-key","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14654003681279772","r":2},"k":"sub-a-mock-key","c":"demo1-pnpres","d":{"action":
        "join", "timestamp": 1465400368, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654003692317583","r":2},"k":"sub-a-mock-key","c":"demo0-pnpres","d":{"action":
        "leave", "timestamp": 1465400369, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654003696367818","r":1},"k":"sub-a-mock-key","c":"demo1-pnpres","d":{"action":
        "leave", "timestamp": 1465400369, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654003698490580","r":1},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465400369, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"},{"a":"5","f":0,"p":{"t":"14654003698490580","r":1},"k":"sub-a-mock-key","c":"demo.*-pnpres","d":{"action":
        "join", "timestamp": 1465400369, "uuid": "ruby-test-uuid-client-two", "occupancy":
        2},"b":"demo.*"}]}'
  recorded_at: Wed, 08 Jun 2016 15:39:31 GMT
recorded_with: VCR 3.0.1
