---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo0-pnpres,demo1-pnpres,demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654003628426279","r":3},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:39:24 GMT
- request:
    method: get
    uri: http://ps.pndsn.com/v2/subscribe/sub-a-mock-key/demo0-pnpres,demo1-pnpres,demo.*,demo.*-pnpres/0?auth=ruby-test-auth-client-one&channel-group=demo&pnsdk=PubNub-Ruby/4.1.0beta1&t=%7B%22r%22:3,%22t%22:%2214654003628426279%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654003658971665","r":3},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":253,"o":{"t":"14654003641619590"},"p":{"t":"14654003642190105","r":12},"k":"sub-a-mock-key","c":"demo.ruby","d":"test_message","b":"demo.*"},{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":255,"o":{"t":"14654003642483210"},"p":{"t":"14654003642801746","r":12},"k":"sub-a-mock-key","c":"demo","d":"test_message","b":"demo"},{"a":"5","f":0,"p":{"t":"14654003646500087","r":1},"k":"sub-a-mock-key","c":"demo1-pnpres","d":{"action":
        "join", "timestamp": 1465400364, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654003647264430","r":1},"k":"sub-a-mock-key","c":"demo0-pnpres","d":{"action":
        "join", "timestamp": 1465400364, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654003655217406","r":1},"k":"sub-a-mock-key","c":"demo0-pnpres","d":{"action":
        "leave", "timestamp": 1465400365, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654003657840744","r":2},"k":"sub-a-mock-key","c":"demo1-pnpres","d":{"action":
        "leave", "timestamp": 1465400365, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo1-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:39:27 GMT
recorded_with: VCR 3.0.1
