---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:0,%22t%22:0%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654012655767620","r":12},"m":[]}'
  recorded_at: Wed, 08 Jun 2016 15:54:26 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f/demo,demo.*-pnpres,demo0-pnpres,demo1-pnpres/0?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.0.0beta1&t=%7B%22r%22:12,%22t%22:%2214654012655767620%22%7D&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14654012683545110","r":12},"m":[{"a":"5","f":0,"i":"ruby-test-uuid-client-two","s":419,"o":{"t":"14654012664779388"},"p":{"t":"14654012665113060","r":12},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo","d":"6e4lfkQt0wcSt3s1i/fsfg==","b":"demo"},{"a":"5","f":0,"p":{"t":"14654012676324070","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo0-pnpres","d":{"action":
        "leave", "timestamp": 1465401267, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo0-pnpres"},{"a":"5","f":0,"p":{"t":"14654012679362865","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo1-pnpres","d":{"action":
        "leave", "timestamp": 1465401267, "uuid": "ruby-test-uuid-client-two", "occupancy":
        0},"b":"demo1-pnpres"},{"a":"5","f":0,"p":{"t":"14654012683108049","r":2},"k":"sub-c-b7fb805a-1777-11e6-be83-0619f8945a4f","c":"demo.*-pnpres","d":{"action":
        "leave", "timestamp": 1465401268, "uuid": "ruby-test-uuid-client-two", "occupancy":
        1},"b":"demo.*-pnpres"}]}'
  recorded_at: Wed, 08 Jun 2016 15:54:29 GMT
recorded_with: VCR 3.0.1
