---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-a-mock-key/channel-group/demo?add=demo&pnsdk=PubNub-Ruby/4.0.10&signature=SelPXMxzc4/C3yw7gF%2B6jBUTBIHMk9qEG0kscHSDHkM=&timestamp=1477672650&uuid=ruby-test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
        false}'
  recorded_at: Fri, 28 Oct 2016 16:37:30 GMT
recorded_with: VCR 3.0.1
