---
http_interactions:
- request:
    method: get
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-a-mock-key/channel/demo?pnsdk=PubNub-Ruby/4.0.10&signature=7aPUXLeMx1NsCGYIcuPbzrzbxbUk8PBGVV4aw86f5I8=&timestamp=1477672650&uuid=ruby-test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "service": "Presence", "uuids": [],
        "occupancy": 0}'
  recorded_at: Fri, 28 Oct 2016 16:37:30 GMT
recorded_with: VCR 3.0.1
