---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-f9f24520-9c56-11e6-a681-02ee2ddab7fe/channel/demo/leave?pnsdk=PubNub-Ruby/4.0.10&signature=6Fhs/rKwSDrfYw/Lp%2B4l8bgyRZcYB5iSBQdf%2Bx2KTBk=&timestamp=1477907746&uuid=ruby-test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Mon, 31 Oct 2016 09:55:47 GMT
recorded_with: VCR 3.0.1
