---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-f9f24520-9c56-11e6-a681-02ee2ddab7fe/demo-pnpres/0?pnsdk=PubNub-Ruby/4.0.10&signature=oHxIow765Eyb/y0ZSLKjn5uPzVBrmyu2BzCT1m0U5ZU=&t=%7B%22r%22:0,%22t%22:0%7D&timestamp=1477921137&uuid=ruby-test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14779206578026961","r":12},"m":[]}'
  recorded_at: Mon, 31 Oct 2016 13:38:57 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-f9f24520-9c56-11e6-a681-02ee2ddab7fe/demo-pnpres/0?pnsdk=PubNub-Ruby/4.0.10&signature=FUsTfMjnXmhnDtK9jbeA1ia66zrB7/I4a0twcQlx2Us=&t=%7B%22r%22:12,%22t%22:%2214779206578026961%22%7D&timestamp=1477921137&uuid=ruby-test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"t":{"t":"14779211470460676","r":12},"m":[{"a":"5","f":0,"p":{"t":"14779211469961647","r":2},"k":"sub-c-f9f24520-9c56-11e6-a681-02ee2ddab7fe","c":"demo-pnpres","d":{"action":
        "join", "timestamp": 1477921146, "uuid": "a2b1772e-1861-4fc5-971b-a3ed92ec09cb",
        "occupancy": 2}}]}'
  recorded_at: Mon, 31 Oct 2016 13:39:07 GMT
recorded_with: VCR 3.0.1
