---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub_key/sub-c-f9f24520-9c56-11e6-a681-02ee2ddab7fe/channel/demo/uuid/whatever?pnsdk=PubNub-Ruby/4.0.10&signature=kQ4fMFemsF0GqYwS9jlkLvFzmdph/RLxl8vYsXzGIQg=&timestamp=1477672672&uuid=ruby-test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "uuid": "whatever", "service": "Presence", "message":
        "OK", "payload": {}, "channel": "demo"}'
  recorded_at: Fri, 28 Oct 2016 16:37:53 GMT
recorded_with: VCR 3.0.1
