---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-f9f24520-9c56-11e6-a681-02ee2ddab7fe/uuid/ruby-test?pnsdk=PubNub-Ruby/4.0.10&signature=MLqC9qndFXjMgXfRxgky4YS%2B/r0G5hS%2BcD8LCW3tz7E=&timestamp=1477672693&uuid=ruby-test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"status": 200, "message": "OK", "payload": {"channels": []}, "service":
        "Presence"}'
  recorded_at: Fri, 28 Oct 2016 16:38:13 GMT
recorded_with: VCR 3.0.1
