---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/rubya/0/0?pnsdk=PubNub-Ruby/3.5.1&uuid=rubytest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[],"13957907308874754"]'
  recorded_at: Tue, 25 Mar 2014 23:38:51 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/rubya,rubya-pnpres/0/13957907308874754?pnsdk=PubNub-Ruby/3.5.1&uuid=rubytest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "join", "timestamp": 1395790731, "uuid": "rubytest", "occupancy":
        1}],"13957907316294523","rubya-pnpres"]'
  recorded_at: Tue, 25 Mar 2014 23:38:52 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/rubyb/leave?pnsdk=PubNub-Ruby/3.5.1&uuid=rubytest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Tue, 25 Mar 2014 23:38:54 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/demo/channel/rubya,rubya-pnpres/leave?pnsdk=PubNub-Ruby/3.5.1&uuid=rubytest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
  recorded_at: Tue, 25 Mar 2014 23:38:55 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/rubya,rubya-pnpres,rubyb/0/13957907316294523?pnsdk=PubNub-Ruby/3.5.1&uuid=rubytest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "leave", "timestamp": 1395790734, "uuid": "rubytest",
        "occupancy": 0}],"13957907346369289","rubya-pnpres"]'
  recorded_at: Tue, 25 Mar 2014 23:38:55 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/subscribe/demo/rubya,rubya-pnpres,rubyb/0/13971276796901375?pnsdk=PubNub-Ruby/3.5.2&uuid=rubytest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[[{"action": "leave", "timestamp": 1397127681, "uuid": "rubytest",
        "occupancy": 0}],"13971276816999536","rubya-pnpres"]'
  recorded_at: Thu, 10 Apr 2014 11:01:23 GMT
recorded_with: VCR 2.9.0
