---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel?auth=ruby-test-auth-client-one&include=custom&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"some_name"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"channel","name":"some_name","description":null,"custom":null,"updated":"2021-03-03T23:06:25.175138Z","eTag":"Adqiu+akxbGf1wE"}}'
  recorded_at: Wed, 03 Mar 2021 23:06:25 GMT
- request:
    method: delete
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel?auth=ruby-test-auth-client-one&pnsdk=PubNub-Ruby/4.5.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":null}'
  recorded_at: Wed, 03 Mar 2021 23:06:25 GMT
recorded_with: VCR 6.0.0
