---
http_interactions:
- request:
    method: patch
    uri: http://ps.pndsn.com/v2/objects/sub-a-mock-key/channels/channel?auth=ruby-test-auth-client-one&include=custom,status,type&pnsdk=PubNub-Ruby/5.4.0&uuid=ruby-test-uuid-client-one
    body:
      encoding: UTF-8
      string: '{"name":"some_name","type":"lobby","status":"open"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"id":"channel","name":"some_name","description":null,"type":"lobby","status":"open","custom":null,"updated":"2025-01-21T10:30:55.080486Z","eTag":"af4025ea32884737d00662f205d2872a"}}'
  recorded_at: Tue, 21 Jan 2025 10:30:54 GMT
recorded_with: VCR 6.3.1
