---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/publish/pub-c-63eb50a0-98ed-43b2-999a-c32efb85c747/sub-c-446d9780-c606-11e5-a316-0619f8945a4f/0/without-access/0/%22I%20want%20to%20publish%20here!%22?pnsdk=PubNub-Ruby/4.0.0&uuid=ruby-test-client
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"message":"Forbidden","payload":{"channels":["without-access"]},"error":true,"service":"Access Manager","status":403}
  recorded_at: Mon, 07 Mar 2016 13:44:49 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-446d9780-c606-11e5-a316-0619f8945a4f?channel=without-access&m=1&pnsdk=PubNub-Ruby/4.0.0&r=1&signature=7XI4rmBVkF6GFS7CMv92QaUUBv-SIO9eulnAhF7W918=&timestamp=1457358289&ttl=1440&uuid=ruby-test-client&w=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-446d9780-c606-11e5-a316-0619f8945a4f","ttl":1440,"channels":{"without-access":{"r":1,"w":1,"m":1}}},"service":"Access
        Manager","status":200}'
  recorded_at: Mon, 07 Mar 2016 13:44:49 GMT
- request:
    method: get
    uri: http://pubsub.pubnub.com/publish/pub-c-63eb50a0-98ed-43b2-999a-c32efb85c747/sub-c-446d9780-c606-11e5-a316-0619f8945a4f/0/without-access/0/%22I%20want%20to%20publish%20here!%22?pnsdk=PubNub-Ruby/4.0.0&uuid=ruby-test-client
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[1,"Sent","14573583203711342"]'
  recorded_at: Mon, 07 Mar 2016 13:45:19 GMT
recorded_with: VCR 2.9.3
